<div class="col-8 columns no-padding" style="margin-top:20px;">
  <div class="col-12 columns cd-edit-form">
    <h4>Billing Details</h4>
  </div>
  <div class="col-12 columns cd-edit-form">
    <%= f.label :billing_address_1 %>
    <%= f.text_field :billing_address_1 %>
  </div>
  <div class="col-12 columns cd-edit-form">
    <%= f.label :billing_address_2 %>
    <%= f.text_field :billing_address_2 %>
  </div>
  <div class="col-12 columns cd-edit-form">
    <%= f.label :billing_address_city %>
    <%= f.text_field :billing_address_city %>
  </div>
  <div class="col-12 columns cd-edit-form">
    <%= f.label :billing_address_state %>
    <%= f.select :billing_address_state, options_for_select(us_states), { include_blank: true } %>
  </div>
  <div class="col-12 columns cd-edit-form">
    <%= f.label :billing_address_zip_code %>
    <%= f.text_field :billing_address_zip_code %>
  </div>

  <% if Devx::Product.has_shippables?(@cart) %>
    <div class="col-12 columns cd-edit-form">
      <h4>Shipping Details</h4>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :shipping_address_1 %>
      <%= f.text_field :shipping_address_1 %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :shipping_address_2 %>
      <%= f.text_field :shipping_address_2 %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :shipping_address_city %>
      <%= f.text_field :shipping_address_city %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :shipping_address_state %>
      <%= f.select :shipping_address_state, options_for_select(us_states), { include_blank: true } %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :shipping_address_zip_code %>
      <%= f.text_field :shipping_address_zip_code %>
    </div>
  <% end %>


  <div class="col-12 columns cd-edit-form">
    <h4>Payment details</h4>
  </div>
  <%= f.hidden_field :stripe_token, class: 'stripe-token' %>
  <div class="col-8 columns cd-edit-form">
    <%= label_tag :cc_number, 'Credit Card Number' %>
    <%= text_field_tag :cc_number, '', placeholder: 'Credit Card Number', autocomplete: :off %>
  </div>
  <div class="col-8 columns cd-edit-form">
    <%= label_tag :ch_name, 'Cardholder Name' %>
    <%= text_field_tag :ch_name, '', placeholder: 'Cardholder Name', autocomplete: :off %>
  </div>
  <div class="col-8 columns cd-edit-form">
    <%= label_tag :exp_date, 'Expiration Date' %>
    <%= date_select "", :expiry_date, { discard_day: true, order: [:month, :year], use_two_digit_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 25, prompt:{ month:'Month', year:'Year' } } %>
  </div>
  <div class="col-8 columns cd-edit-form">
    <%= label_tag :cvv, 'Security Code' %>
    <%= text_field_tag :cvv, '', placeholder: 'Security Code', autocomplete: :off %>
  </div>

  <div class="col-12 columns">
    <div class="cd-update-form">
      <%= f.submit 'Submit order' %>
    </div>
  </div>
</div>
