<% provide(:title, 'Checkout') %>

<%= render partial: 'devx/shared/notice' %>

<div class="container">
  <div class="row">
    <div class="medium-12 columns">
      <h3 class="ecommerce-page-title"><%= yield :title %></h3>
    </div>
  </div>
</div>

<div class="container ecommerce-padded-container">
  <div class="row">
    <div class="medium-12 columns">
      <h4>Order summary</h4>
      <table width="100%">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>

            <% total = 0 %>

        <% @cart.each do |sku, quantity| %>
                <% product_sku = Devx::ProductSku.find(sku) %>

          <tr>
            <td><%= link_to product_sku.product.try(:name), devx.portal_product_path(product_sku.product) %></td>
            <td><%= quantity %></td>
            <td><%= number_to_currency (product_sku.price * quantity) %></td>
          </tr>

          <% total += quantity * product_sku.price.to_f %>

        <% end %>
        </tbody>
      </table>
      <strong>Total:</strong> <%= number_to_currency total %>
    </div>
    <div class="medium-12 columns">
      <%= form_for @order, url: devx.portal_checkout_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
