<% @product_sku.errors.full_messages do |e| %>
	<%= e %>
<% end %>

<div class="nested-object">
	<div class="col-6 columns cd-edit-form">
		<%= f.label :currency %>
		<%= f.text_field :currency %>
	</div>

	<div class="col-6 columns cd-edit-form">
		<%= f.label :price %>
		<%= f.number_field :price, step: '0.01' %>
	</div>

	<div class="col-8 columns cd-edit-form">
		<%= f.label :stockable %><br>
	</div>

	<div class="col-2 columns cd-edit-form">
		<label class="switch">
			<%= f.check_box :stockable %>
			<div class="slider round"></div>
		</label>
	</div>

	<div class="col-8 columns cd-edit-form">
		<%= f.label :active %><br>
	</div>

	<div class="col-2 columns cd-edit-form">
	  <label class="switch">
		  <%= f.check_box :active %>
		  <div class="slider round"></div>
	  </label>
	</div>

	<div class="col-12 columns cd-edit-form">
		<% @product.product_attributes.try(:each) do |attribute| %>
			<div class="col-6 columns cd-edit-form">
				<%= label_tag attribute.product_attribute %>
				<%= text_field_tag "[product_sku_attributes][#{attribute.id}]", @product_sku.get_attribute(attribute.id) %>
			</div>
		<% end %>
  	</div>

  <div class="col-12 columns">
    <div class="cd-update-form">
      <%= f.submit %>
    </div>
  </div>
</div>