<% provide(:title, "Register for #{@registration.name}") %>
<div class="container banner" style="margin-bottom:40px;background-image:url(<%= @registration.form.image.try(:url) %>);background-size:cover;background-attachment:fixed;">
  <div style="padding:140px 0px;margin:0 auto;text-align:center">
    <h1 style="padding:0;margin:0;border:none;color:#fff;"><%= @registration.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <%= form_for @registration, url: devx.registrations_path, method: :post do |f| %>
        <%= f.hidden_field :id %>
        <%= f.fields_for :submission_content do |submission| %>
          <% @registration.form.fields.try(:each) do |field| %>
            <%= render "#{field.field_type}", field: field, f: submission %>
          <% end %>
        <% end %>
     </div>
      <div class="large-12 columns">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>