<% if @slideshow.errors.any? %>
  <ul>
    <% @slideshow.errors.full_messages.try(:each) do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
<%= f.label :name %>
<%= f.text_field :name %>

<div class="nested-attributes">
  <h3>Manage Slides</h3>

  <%= link_to_add_fields 'Add slide', f, :slides, nil, 'slide_fields', '' %>
  <%= content_tag :div, class: 'nested-attributes' do %>
    <%= f.fields_for :slides do |slide| %>
      <%= render partial: 'slide_fields', locals: { f: slide } %>
    <% end %>
  <% end %>
</div>

<%= f.submit %>
