<div class="nested-object">
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= image_tag(f.object.image.try(:small).try(:url)) %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <%= f.label :active %>
  <label class="switch">
    <%= f.check_box :active %>
    <div class="slider round"></div>
  </label>
  <div class="nested-actions buttons">
    <%= f.hidden_field :_destroy, class: 'remove-field' %>
    <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, '#', class: 'remove_fields' %>
  </div>
</div>
