<% provide(:title, 'Edit ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12">
      <%= link_to 'Back to Slideshows', devx.portal_slideshows_path %>

      <h3>Order</h3>
      <ul class="sortable-list" data-update-url="<%= sort_portal_slideshows_path %>">
        <% @slideshow.slides.order(position: :asc).try(:each) do |slide| %>
          <%= content_tag_for :li, slide do %>
            <%= slide.title %>
          <% end %>
        <% end %>
      </ul>

      <%= form_for @slideshow, url: devx.portal_slideshow_path(@slideshow) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
