<div class="container">
    <div class="row">
        <div class="large-12 columns">
            <%= search_form_for @q, html: { class: 'df_search_form' } do |f| %>
                <%= f.label :search %>
                <%= f.search_field :title_or_short_description_or_content_or_keywords_name_cont %>
                <%= f.select :tags_name_eq, @tags.collect{ |x| [x.name, x.name] }, { include_blank: true } %>
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>

<% if @articles.any? %>
<%= render @articles %>
<% else %>
<div class="large-12 columns">
    <h4 style="text-align:center">No posts to display.</h4>
</div>
<% end %>

<div class="container">
    <div class="row full-width">
    	<div class="large-12 columns">
        <% if @articles.any? %>
            <%= will_paginate @articles, class: 'apple_pagination' %>
        <% end %>
    </div>
</div>
