<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :state %><br>
        <%= f.select :state, options_for_select(us_states), { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :zip %><br>
        <%= f.text_field :zip %>
    </div>
</div>

<div class="col-12 columns" style="margin-top:20px;">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>