<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="margin-bottom:30px">
          <%= form_tag devx.portal_media_path, method: :post, id: 'media-dropzone', class: 'dropzone' do %>
            <div class="fallback">
              <%= file_field_tag :file %>
            </div>
          <% end %>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
            <div style="float:right;">
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i> Filter by</span>
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i>Arrange by</span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
              <div class="cd-edit-form">
              <%= search_form_for @q, url: devx.portal_media_path do |f| %>
                  <%= f.search_field :name_cont %>
                  <%= f.submit %>
              <% end %>
              </div>
            </div>
        </div>
        
        <div class="col-12 columns">

            <!-- GRID CODE STARTS HERE -->
            <div class="small-3 medium-6 large-8 xlarge-12 columns">
                <%= render partial: 'medium', collection: @media %>
            </div>
            <!-- GRID CODE ENDS HERE -->

        </div>
    
    </div>

</div>