<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="margin-bottom:30px">
          <%= form_tag devx.portal_media_path, method: :post, id: 'media-dropzone', class: 'dropzone' do %>
            <div class="fallback">
              <%= file_field_tag :file %>
            </div>
          <% end %>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
            <div style="float:right;">
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i> Filter by</span>
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i>Arrange by</span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
            </div>
        </div>
        
        <div class="col-12 columns">

            <!-- GRID CODE STARTS HERE -->
            <div class="small-3 medium-6 large-8 xlarge-12 columns">

                <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(1).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(1).id}" + "."%> <br/>
                    <%= Devx::Medium.find(1).name %>
                </div>

                <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(2).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(2).id}" + "."%> <br/>
                    <%= Devx::Medium.find(2).name %>
                </div>

               <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(3).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(3).id}" + "."%> <br/>
                    <%= Devx::Medium.find(3).name %>
                </div>

                <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(4).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(4).id}" + "."%> <br/>
                    <%= Devx::Medium.find(4).name %>
                </div>

                <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(5).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(5).id}" + "."%> <br/>
                    <%= Devx::Medium.find(5).name %>
                </div>

                <div class="media-grid">
                    <div id="overlay">
                        <table border="1" class="media-table">
                            <tr>
                                <td width="50%">Edit <br/>[ <i class="fa fa-pencil"></i> ]</td>
                                <td>Alert <br/>[ <i class="fa fa-exclamation"></i> ]</td>
                            </tr>
                            <tr>
                                <td width="50%">Download <br/>[ <i class="fa fa-arrow-circle-o-down"></i> ]</td>
                                <td>Delete <br/>[ <i class="fa fa-trash-o"></i> ]</td>
                            </tr>
                        </table>
                    </div>

                    <%= image_tag(Devx::Medium.find(6).file.url, style: 'width:200px; height:200px;') %>
                    <%= "#{Devx::Medium.find(6).id}" + "."%> <br/>
                    <%= Devx::Medium.find(6).name %>
                </div>

            </div>
            <!-- GRID CODE ENDS HERE -->

            <!--
            <table width="100%">
                <thead>
                    <tr style="background-color:#ACCC38;">
                        <th style="color:#084269; padding:10px; text-align:left; width:10%;">ID</th>
                        <th style="color:#084269; padding:10px; text-align:left; width:50%;">Name</th>
                        <th style="color:#084269; padding:10px; text-align:left; width:40%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                     <%= render partial: 'medium', collection: @media %>
                </tbody>
            </table>
            -->
        </div>
    
    </div>

</div>