<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[boilerplate]', 'JCW Boilerplate' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[boilerplate]', @settings.settings['boilerplate'], @settings.settings['boilerplate'] %>
        <div class="slider round"></div>
    </label>
</div>

<div class="col-6 columns cd-edit-form">
    <%= label_tag 'settings[default_timezone]', 'Default Timezone' %><br>
    <%= select_tag 'settings[default_timezone]', options_for_select(ActiveSupport::TimeZone.us_zones), { prompt: 'Select timezone' } %>
</div>

<div class="col-6 columns cd-edit-form">
    <%= label_tag 'settings[article_list_template]', 'Article List Template' %><br>
    <%= select_tag 'settings[article_list_template]', options_for_select(['List Style 1', 'Blog Style 1']), { prompt: 'Select Article List Style' } %>
</div>

<div class="col-6 columns cd-edit-form">
    <%= label_tag 'settings[article_view_template]', 'Article View Template' %><br>
    <%= select_tag 'settings[article_view_template]', options_for_select(['Style 1']), { prompt: 'Select Article Style' } %>
</div>


<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[admissions]', 'Admissions' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[admissions]', @settings.settings['admissions'], @settings.settings['admissions'] %>
        <div class="slider round"></div>
    </label>
</div>


<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[crm_module]', 'CRM' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[crm_module]', @settings.settings['crm_module'], @settings.settings['crm_module'] %>
        <div class="slider round"></div>
    </label>
</div>

<%= render partial: 'calendar_settings_form' %>

<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[commerce]', 'Commerce' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[commerce]', @settings.settings['commerce'], @settings.settings['commerce'] %>
        <div class="slider round"></div>
    </label>
</div>

<%= render partial: 'commerce_settings_form' %>




<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[balance_tracking]', 'Balance Tracking' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[balance_tracking]', @settings.settings['balance_tracking'], @settings.settings['balance_tracking'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[organizations]', 'Organizations' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[organizations]', @settings.settings['organizations'], @settings.settings['organizations'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[alumni_database]', 'Alumni Database' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[alumni_database]', @settings.settings['alumni_database'], @settings.settings['alumni_database'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[registrations]', 'Registrations' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[registrations]', @settings.settings['registrations'], @settings.settings['registrations'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[student_management]', 'Student Management' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[student_management]', @settings.settings['student_management'], @settings.settings['student_management'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-8 columns cd-edit-form">
    <%= label_tag 'settings[student_management]', 'SMS Alerts' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[sms_alerts]', @settings.settings['sms_alerts'], @settings.settings['sms_alerts'] %>
        <div class="slider round"></div>
    </label>
</div>

<%= render partial: 'sms_alert_settings_form' %>

