<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[admissions]', 'Admissions' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[admissions]', @settings.settings['admissions'], @settings.settings['admissions'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[commerce]', 'Commerce' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[commerce]', @settings.settings['commerce'], @settings.settings['commerce'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[organizations]', 'Organizations' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[organizations]', @settings.settings['organizations'], @settings.settings['organizations'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[alumni_database]', 'Alumni Database' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[alumni_database]', @settings.settings['alumni_database'], @settings.settings['alumni_database'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[registrations]', 'Registrations' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[registrations]', @settings.settings['registrations'], @settings.settings['registrations'] %>
        <div class="slider round"></div>
    </label>
</div>



<div class="col-1 columns cd-edit-form">
    <%= label_tag 'settings[student_management]', 'Student Management' %><br>
</div>

<div class="col-1 columns cd-edit-form">
    <label class="switch">
        <%= check_box_tag 'settings[student_management]', @settings.settings['student_management'], @settings.settings['student_management'] %>
        <div class="slider round"></div>
    </label>
</div>


