<div class="col-6 columns cd-edit-form">
  <%= label_tag 'settings[twilio_account_sid]', 'Account SID' %>
  <%= password_field_tag 'settings[twilio_account_sid]' %>
</div>


<div class="col-6 columns cd-edit-form">
  <%= label_tag 'settings[twilio_auth_token]', 'Auth Token' %>
  <%= password_field_tag 'settings[twilio_auth_token]' %>
</div>


<div class="col-6 columns cd-edit-form">
  <%= label_tag 'settings[twilio_phone_number]', 'Phone Number' %>
  <%= text_field_tag 'settings[twilio_phone_number]' %>
</div>