<% @attributes[:feed].try(:each) do |post| %>
    <div class="fb_post medium-8 medium-offset-2 columns">
        <% if post['picture'].present? %>
            <div class="fb_image large-12 xlarge-7 columns">
                <%= image_tag(post['picture'], style: 'max-width:100%;max-height:250px;') %>
            </div>
        <% end %>
        <div class="fb_text large-12 xlarge-5 columns" style="padding-left:10px;">
            <p style="line-height:2.4rem">
                <%= post['message'].try(:truncate_words, 20, omission: '...') %>
            </p>
            <a target="_blank" href="<%= post['link'] %>" class="button primary small" style="margin-bottom:20px;">View Post</a>
        </div>
    </div>
    <div class="fb_share medium-8 medium-offset-2 columns">
        <span class="fb_postdate"><%= DateTime.strptime(post['created_time']).strftime('%B %d at %I:%M %p') %></span>
        <ul class="share_actions">
            <li><%= link_to '<i class="fa fa-comment-o"></i> Comment'.html_safe, post['link'], target: '_blank' %></li>
            <li><%= link_to '<i class="fa fa-share-square-o"></i> Share'.html_safe, "https://www.facebook.com/sharer/sharer.php?u=#{post['link']}", target: '_blank' %></li>
        </ul>
    </div>
<% end %>