<% provide(:title, '' + controller_name.classify) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>

        <div class="col-12 columns">

        	<p><%= link_to 'Empty Cart', devx.portal_cart_empty_path %></p>

            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tbody>

        			<% total = 0 %>

            		<% @cart.each do |sku, quantity| %>
            			<tr>
            				<td><%= link_to sku.product.try(:name), devx.portal_product_path(sku.product) %></td>
            				<td><%= number_to_currency sku.price %></td>
            				<td style="text-align: left;"><%= quantity %></td>
            			</tr>

            			<% total += quantity * sku.price.to_f %>

            		<% end %>

                </tbody>
            </table>

            <%= "Total: #{number_to_currency total}" %>
            <%= link_to 'Checkout', devx.portal_checkout_path %>

        </div>
    </div>
</div>
