<% provide(:title, '' + controller_name.classify) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>

        <div class="col-12 columns">

        	<p><%= link_to 'Empty Cart', devx.portal_cart_empty_path %></p>

            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tbody>

        			<% total = 0 %>

            		<% @cart.each do |id, quantity| %>
            			<% sku = Devx::ProductSku.find(id) %>

            			<tr>
            				<td><%= link_to sku.name, devx.portal_product_path(id) %></td>
            				<td><%= number_to_currency(sku.price, :unit => '$') %></td>
            				<td style="text-align: left;"><%= quantity %></td>
            			</tr>

            			<% total += quantity * sku.price %>
            			
            		<% end %>
      				
                </tbody>
            </table>

            <%= "Total: " + number_to_currency(total, :unit => '$').to_s %>

        </div>
    </div>
</div>