<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= full_title(yield(:title)) %></title>
  <% if app_settings['boilerplate'] %>
    <%= stylesheet_link_tag "boilerplate.min.css", media: "all" %>
  <% end %>
  <%= stylesheet_link_tag "devx/branding.css", media: "all" %>
  <%= stylesheet_link_tag "devx/application", media: "all" %>
  <% Devx::Stylesheet.all.try(:each) do |stylesheet| %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path(stylesheet) %>.css">
  <% end %>
  <link rel="icon" type="image/png" href="<%= app_branding.favicon.try(:url) %>" />  
  <%= javascript_include_tag "devx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
