<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "//cdn.jcwproductions.com/css/boilerplate.min.css", media: "all" %>
  <%= stylesheet_link_tag "devx/application", media: "all" %>
  <% @page.layout.stylesheets.try(:each) do |stylesheet| %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheet_path(stylesheet) %>">
  <% end %>
  <link rel="icon" type="image/png" href="<%= app_branding.favicon.try(:url) %>" />   
  <%= javascript_include_tag "devx/application" %>
  <link rel="stylesheet" type="text/css" href="//cdn.jcwproductions.com/plugins/slideshow/slideshow.css">
  <script type="text/javascript" src="//cdn.jcwproductions.com/plugins/slideshow/slideshow.jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @page.image.present? %>
  <div class="container banner header-image" style="background-image:url(<%= @page.image.url %>)"></div>
<% end %>

<%= sc_content_html(Liquid::Template.parse(@page.layout.try(:content)).render('page_content' => yield, 'page_title' => yield(:title), 'branding_logo' => image_tag(app_branding.logo.try(:url), class: 'logo'), 'alternate_logo' => image_tag(app_branding.alternate_logo.try(:url), class: 'alternate-logo'))) %>

</body>
</html>


