<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "devx/application", media: "all" %>
  <%= stylesheet_link_tag    "devx/devx_portal", media: "all" %>
  <%= javascript_include_tag "devx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- START: NOTIFICATION ALERT -->
    <div class="cd-notification-wrapper">
      <div class="cd-notification">
      </div>
    </div>
  <!-- END: NOTIFICATION ALERT -->

    <div class="cd-login-bkrd"></div>

    <div class="cd-login">

        <div class="logo">
            <% if app_branding.logo.present? %>
                <%= image_tag(app_branding.logo.url) %>
            <% else %>
                <%= image_tag('devx/devx-logo.svg', style: 'width:100%') %>
            <% end %>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder:'Email' %>
        </div>

        <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder:'Password' %>
        </div>

        <div class="actions hvr-sweep-to-right">
            <%= f.submit "LOGIN", id: 'login' %>
        </div>
        <% end %>

        <%- if controller_name != 'sessions' %>
          <small><%= link_to "Log in", new_session_path(resource_name) %> | </small>
        <% end -%>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <small><%= link_to "Sign up", new_registration_path(resource_name) %> |</small>
        <% end -%>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <small><%= link_to "Forgot password", new_password_path(resource_name) %></small>
        <% end -%>

        <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <% link_to "Unlock account", new_unlock_path(resource_name) %>
        <% end -%>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, provider), class: 'button', style: 'display:block;margin-top:20px;' %><br />
          <% end -%>
        <% end -%>


    </div>
    <div class="cd-version-info">
      <span>Powered by DevX CMS (Version <%= Devx::VERSION %>)</span>
    </div>
</body>
</html>
