<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= sys_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "devx/boilerplate.css", media: "all" %>
  <%= stylesheet_link_tag    "devx/application", media: "all" %>
  <%= stylesheet_link_tag    "devx/devx_portal", media: "all" %>
  <%= stylesheet_link_tag    "devx/branding", media: "all" %>
  <%= javascript_include_tag "devx/application" %>
  <% if app_settings['stripe'] %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="padding:10px;">
    <div class="row">
        <div class="large-6 columns">
<!--            <img src="http://lorempixel.com/60/60/nature/3/" alt="" style="border-radius:50%; margin-right:10px;">-->
            <span style="line-height:40px;">Client ></span>
        </div>
        <div class="large-6 columns">
            <div style="text-align:right;">
                <span style="line-height:40px;">Nola Anne <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <img src="http://lorempixel.com/40/40/nature/3/" alt="" style="border-radius:50%; margin-left:10px;">
            </div>
        </div>
    </div>
</div>

<!-- the color of this container will change with the client branding -->
<nav class="container">
    <div class="row">
        <div class="large-12 columns">
            <ul>
                <li><a>Dashboard</a></li>
                <li><a>Site Management</a></li>
                <li><a>Annoucements</a></li>
                <li><a>Urgent News</a></li>
                <li><a>Calendars</a></li>
                <li><a>News</a></li>
                <!--<li><a>Profile</a></li>-->
                <li><a>Commerce</a></li>
                <li><a>CRM</a></li>
                <li><a>Classroom</a></li>
                <li><a>Settings</a></li>
                <li><a>Developer</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="breadcrumbs">
    <div class="row">
        <div class="large-12 columns">
             <ul>
                <li><a href="#">Home</a> > </li>
                <li><a href="#">Features</a> > </li>
                <li><span>Gene Splicing</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="small-12 columns">
            <h1>[Page Header]</h1>
        </div>
    </div>
</section>


</body>