<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= sys_title(yield(:title)) %></title>
  <% stylesheet_link_tag "//cdn.jcwproductions.com/css/boilerplate.min.css", media: "all" %>
  <%= stylesheet_link_tag    "devx/application", media: "all" %>
  <%= stylesheet_link_tag    "devx/devx_portal", media: "all" %>
  <%= javascript_include_tag "devx/application" %>
  <link rel="stylesheet" type="text/css" href="//cdn.jcwproductions.com/plugins/slideshow/slideshow.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jcwproductions.com/plugins/accordion/accordion.css">
  <script type="text/javascript" src="//cdn.jcwproductions.com/plugins/slideshow/slideshow.jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jcwproductions.com/plugins/accordion/accordion.jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- START: HEADER -->
  <header class="cd-main-header">

    <!-- START: LOGO -->
      <%= link_to (app_branding.site_name || 'Site Name'), devx.portal_root_path, class: 'cd-logo' %>
    <!-- END: LOGO -->
    
    <!-- START: TOP NAVIGATION -->
    <nav class="cd-nav">
      <div class="cd-top-nav cd-horizontal-accordion">
        <% if app_settings['balance_tracking'] && !current_user.parent? %>
        <div class="cd-accordion-tab">
          <div class="cd-accordion-title">
            <span><i class="fa fa-money"></i></span>
          </div>
          <div class="cd-accordion-body" style="text-align:center">
            <span><strong>Balance: <%= number_to_currency current_user.balance %></strong></span><br />
            <%= link_to 'Add funds', devx.account_deposit_portal_user_path(current_user) %>
          </div>
        </div>
        <% end %>
        <div class="cd-accordion-tab">
          <div class="cd-accordion-title">
            <span><i class="fa fa-search"></i></span>
          </div>
          <div class="cd-accordion-body">
            <div class="container">
              <div class="row">
                <div class="col-12 columns cd-edit-form">
                  <%= search_form_for Devx::Page.ransack(params[:q]), url: devx.search_path do |f| %>
                    <%= f.search_field :content_cont, placeholder: 'Search' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cd-accordion-tab">
          <div class="cd-accordion-title">
            <span><i class="fa fa-question"></i></span>
          </div>
          <div class="cd-accordion-body">
            <%= link_to 'Submit a Ticket', devx.new_portal_ticket_path %><br />
            <%= link_to 'View my Tickets', devx.portal_tickets_path %>
          </div>
        </div>
        <div class="cd-accordion-tab">
          <div class="cd-accordion-title" style="padding-top:21px;">
            <span><%= current_user.try(:full_name) %></span>
          </div>
          <div class="cd-accordion-body">
            <%= link_to 'Edit Profile', devx.edit_portal_user_path(current_user) %><br />
            <%= link_to 'Logout', devx.destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </nav>
    <!-- END: TOP NAVIGATION -->

  </header>
  <!-- END: HEADER -->

  
  <!-- START: CONTENT -->
  <main class="cd-main-content">

    <!-- START: SIDE NAVIGATION -->
    <nav class="cd-side-nav">
      <ul>
        <li class="cd-label">Primary Navigation</li>
        <li>
          <%= link_to '<i class="fa fa-tachometer"></i> <span>Dashboard</span>'.html_safe, devx.portal_dashboard_path, data: 'dashboard' %>
        </li>

        <% if can? :manage, Devx::User %>
        <li>
          <%= link_to '<i class="fa fa-user"></i> <span>Users</span>'.html_safe, '#', class: 'has-children', data: 'users' %>
        </li>
        <ul class="child-nav" data-parent="users">
          <li><%= link_to 'Manage Users', devx.portal_users_path %></li>
          <% if current_user.super_administrator? %>
          <li><%= link_to 'Roles', devx.portal_roles_path %></li>
          <% end %>
          <% if app_settings['balance_tracking'] %>
            <li><%= link_to 'Account Balance', devx.account_deposit_portal_user_path(current_user) %></li>
          <% end %>
        </ul>
        <% end %>

        <% if app_settings['organizations'] %>
        <li>
          <%= link_to '<i class="fa fa-sitemap"></i> <span>Organizations</span>'.html_safe, '#', class: 'has-children', data: 'organizations' %>
        </li>
        <ul class="child-nav" data-parent="organizations">
          <% if can? :manage, Devx::Member %>
          <li><%= link_to 'Staff', devx.portal_members_path %></li>
          <% end %>
          <li><%= link_to 'Sports', devx.portal_sports_path %></li>
          <li><%= link_to 'Extracurriculars', devx.portal_extracurriculars_path %></li>
          <% if app_settings['alumni_database'] %>
          <li><%= link_to 'Alumni Database', devx.portal_alumni_index_path %></li>
          <% end %>
          <% if app_settings['registrations'] %>
          <li><%= link_to 'Registrations', devx.portal_registrations_path %></li>
          <% end %>
          <li><%= link_to 'Documents', devx.portal_documents_path %></li>
        </ul>
        <% end %>

        <% if current_user.administrator? %>
        <li>
          <%= link_to '<i class="fa fa-laptop"></i> <span>Site Management</span>'.html_safe, '#', class: 'has-children', data: 'site-management' %>
        </li>
        <ul class="child-nav" data-parent="site-management">
          <li><%= link_to 'Pages', devx.portal_pages_path %></li>
          <li><%= link_to 'Layouts', devx.portal_layouts_path %></li>
          <li><%= link_to 'Stylesheets', devx.portal_stylesheets_path %></li>
          <li><%= link_to 'JavaScripts', devx.portal_javascripts_path %></li>
          <li><%= link_to 'Media', devx.portal_media_path %></li>
          <li><%= link_to 'Menus', devx.portal_menus_path %></li>
        </ul>
        <% end %>

        <% if can? :manage, Devx::Event %>
        <li>
          <%= link_to '<i class="fa fa-calendar"></i> <span>Events</span>'.html_safe, devx.portal_calendars_path, class: 'has-children', data: 'calendars' %>
        </li>
        <ul class="child-nav" data-parent="calendars">
          <li><%= link_to 'Calendars', devx.portal_calendars_path %></li>
          <li><%= link_to 'Venues', devx.portal_venues_path %></li>
        </ul>
        <% end %>

        <% if can? :manage, Devx::Article %>
        <li>
          <%= link_to '<i class="fa fa-newspaper-o"></i> <span>News</span>'.html_safe, devx.portal_articles_path, data: 'news' %>
        </li>
        <% end %>

        <% if can? :manage, Devx::Branding %>
        <li>
          <%= link_to '<i class="fa fa-cogs"></i> <span>Settings</span>'.html_safe, devx.portal_branding_index_path, data: 'settings' %>
        </li>
        <% end %>

        <% if app_settings['commerce'] %>
        <li>
          <%= link_to '<i class="fa fa-shopping-cart"></i> <span>Commerce</span>'.html_safe, '#', class: 'has-children', data: 'commerce' %>
        </li>
        <ul class="child-nav" data-parent="commerce">
          <% if can? :manage, Devx::Product %>
          <li><%= link_to 'Products', devx.portal_products_path %></li>
          <% end %>
          <% if can? :read, Devx::Order %>
          <li><%= link_to 'Orders', devx.portal_orders_path %></li>
          <% end %>
        </ul>
        <% end %>
        
        <% if app_settings['admissions'] && current_user.administrator? %>
        <li>
          <%= link_to '<i class="fa fa-graduation-cap"></i> <span>Admissions</span>'.html_safe, '#', class: 'has-children', data: 'admissions' %>
        </li>
        <ul class="child-nav" data-parent="admissions">
          <% if app_settings['student_management'] && current_user.administrator? %>
            <li><%= link_to 'Administration CRM', devx.portal_administration_index_path %></li>
          <% end %>
        </ul>
        <% end %>

        <% if can? :manage, Devx::ApplicationSetting && current_user.super_administrator? %>
          <li>
            <%= link_to '<i class="fa fa-terminal"></i> <span>Developer</span>'.html_safe, devx.portal_developer_index_path, class: 'has-children', data: 'developer' %>
          </li>
          <ul class="child-nav" data-parent="developer">
            <li>
              <%= link_to 'Global Settings'.html_safe, devx.portal_developer_index_path %>
            </li>
          </ul>
        <% end %>
      </ul>

      <!-- START: FOOTER -->
      <footer class="cd-main-footer">
        DevX <%= Devx::VERSION %> | Powered by <%= link_to 'JCW', '//jcwproductions.com' %>
      </footer>
      <!-- END: FOOTER -->  
    </nav>
    <!-- END: SIDE NAVIGATION -->

    <!-- START: MAIN CONTENT -->
    <div class="content-wrapper">
      <div class="content">
        <%= yield %>
      </div>    
    </div>
    <!-- END: MAIN CONTENT -->

  </main>
  <!-- END: CONTENT -->

  <!-- START: NOTIFICATION ALERT -->
    <div class="cd-notification-wrapper">
      <% if flash.any? %>
        <div class="cd-notification">
          <%= notice %>
        </div>
      <% end %>
    </div>
  <!-- END: NOTIFICATION ALERT -->

</body>
</html>