<tr>
  <td><%= link_to article.title, fullstack.edit_admin_article_path(article) %></td>
  <td><%= article.short_description %></td>
  <td><%= article.published_at.try(:strftime, '%m/%d/%Y %H:%I:%s') %></td>
  <td>
    <%= link_to 'Edit', fullstack.edit_admin_article_path(article) %>
    <%= link_to 'Delete', fullstack.admin_article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete #{article.title}?" } %>
  </td>
</tr>