<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Personal Information</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :prefix %><br>
        <%= f.text_field :prefix %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :suffix %><br>
        <%= f.text_field :suffix %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :marital_status %><br>
        <%= f.text_field :marital_status %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :birthdate %><br>
        <%= f.date_field :birthdate %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :gender %><br>
        <%= f.select :gender, %w[Male Female], { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
</div>

<div class="col-4 columns no-padding" style="margin-top:20px;">
    <% if @alumni.photo.present? %>
        <%= image_tag(@alumni.photo.small.url) %>
    <% end %>
    <%= f.label :photo %>
    <%= f.file_field :photo %> 
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Class</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :graduation_year %><br>
        <%= f.number_field :graduation_year %>
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Mailing Address</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :state %><br>
        <%= f.select :state, options_for_select(us_states), { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :zip %><br>
        <%= f.text_field :zip %>
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Contact Information</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :linked_in, 'LinkedIn' %><br>
        <%= f.text_field :linked_in %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :twitter %><br>
        <%= f.text_field :twitter %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :facebook %><br>
        <%= f.text_field :facebook %>
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Education</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :undergraduate, 'Undergraduate college' %><br>
        <%= f.text_field :undergraduate %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :degree_ug, 'Undergraduate degree' %><br>
        <%= f.text_field :degree_ug %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :graduate, 'Graduate college' %><br>
        <%= f.text_field :graduate %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :degree_grad, 'Graduate degree' %><br>
        <%= f.text_field :degree_grad %>
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns"><h3>Employment</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :employer %><br>
        <%= f.text_field :employer %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :industry %><br>
        <%= f.select :industry, %w[], { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :position %><br>
        <%= f.text_field :position %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :employer_address %><br>
        <%= f.text_field :employer_address %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :employer_city %><br>
        <%= f.text_field :employer_city %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :employer_state %><br>
        <%= f.select :employer_state, options_for_select(us_states), { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :employer_zip %><br>
        <%= f.text_field :employer_zip %>
    </div>
</div>

<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>