<% provide(:title, 'Edit ' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="large-12 columns">
      <%= form_for @branding, url: devx.admin_branding_path(@branding) do |f| %>
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
        <%= f.label :logo %>
        <%= f.file_field :logo %>
        <%= f.label :alternate_logo %>
        <%= f.file_field :alternate_logo %>
        <%= f.label :favicon %>
        <%= f.file_field :favicon %>
        <%= f.label :primary_color %>
        <%= f.text_field :primary_color %>
        <%= f.label :secondary_color %>
        <%= f.text_field :secondary_color %>
        <%= f.label :accent_color_1 %>
        <%= f.text_field :accent_color_1 %>
        <%= f.label :accent_color_2 %>
        <%= f.text_field :accent_color_2 %>
        <%= f.label :accent_color_3 %>
        <%= f.text_field :accent_color_3 %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>