<% provide(:title, 'Manage FAQs') %>
<div class="container">
  <div class="row">

    <div class="medium-8 columns">
      <h1><%= yield(:title) %></h1>
    </div>

    <div class="medium-4 columns">
        <%= link_to '<i class="fa fa-plus"></i> New'.html_safe, new_portal_faq_path %>
        <%= link_to '<i class="fa fa-download"></i> Import'.html_safe, faqs_portal_import_path %>
    </div>

    <table width="100%">
      <thead>
        <tr>
          <th>Question</th>
          <th>Category</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%= render @faqs %>
      </tbody>
    </table>
    Total FAQs: <%= @faqs.count %>
  </div>
</div>

<div class="container">
    <div class="row full-width">
        <%= will_paginate @faqs, class: 'apple_pagination' %>
    </div>
</div>
