<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :moderator_ids, 'Moderators' %><br>
        <%= f.select :moderator_ids, Devx::Person.faculty.collect{ |x| [x.record_with_uuid, x.id] }, {}, { multiple: true, class: 'select2-multiple' } %><br>
    </div>
</div>

<% if !@sport.new_record? %>
	<div class="col-8 columns no-padding">
		<div class="col-12 columns">
			<h3>Roster</h3>
		</div>

	  <%= content_tag 'div', class: 'nested-attributes' do %>
	    <%= f.fields_for :sport_teams do |l| %>
	      <%= render partial: 'sport_team_fields', locals: { f: l } %>
	    <% end %>
	  <% end %>
	  <%= link_to_add_fields 'Add Player', f, :sport_teams, nil, 'sport_team_fields', '' %>
	</div>
<% end %>

<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>