<% provide(:title, 'Manage Sports') %>
<div class="container">


  <div class="row">


    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>

    <div class="col-12 columns" style="padding-bottom:20px;">
        <%= link_to '<i class="fa fa-plus"></i> New Sport'.html_safe, new_portal_sport_path %>

        <div style="float:right;">
          <span style="padding:0 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
          <span style="padding:0 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
          <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
          <div class="cd-edit-form">
          <%= search_form_for @q, url: devx.portal_sports_path do |f| %>
              <%= f.search_field :name_cont %>
              <%= f.submit %>
          <% end %>
          </div>
        </div>
    </div>

    <div class="col-12 columns">
      <table>
        <thead>
          <tr>
            <th><%= sort_link @q, :name %></th>
            <th><%= sort_link @q, :created_at %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'sport', collection: @sports %>

           <tr>
            <td colspan="1" style="text-align:left; padding: 15px 0 0 10px;"><%= "Total: #{ @sports.count } sports" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>




