<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :filename %>
        <%= f.file_field :filename %>
    </div>
</div>

<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>