<tr>
  <td><%= ldate account_transaction.created_at %></td>
  <td><%= account_transaction.person.full_name %></td>
  <td><%= account_transaction.person.school_id %></td>
  <td><%= number_to_currency account_transaction.amount %></td>
  <td><%= account_transaction.payment_method %></td>
  <td><%= account_transaction.cardholder %></td>
  <td><% if !account_transaction.processed? %><%= link_to 'Process', devx.process_transaction_portal_account_transaction_path(account_transaction), method: :post %><% else %>&nbsp;<% end %></td>
</tr>
