<div class="col-12 columns no-padding">
  <div class="col-3 columns cd-edit-form">
    <%= f.label :start_time_date, "Start Date" %>
    <%= f.text_field :start_time_date, placeholder: date_value(Date.today), class: 'datepicker' %>
  </div>
  <div class="col-3 columns cd-edit-form">
    <%= f.label :start_time_time, "Start Time" %>
    <%= f.text_field :start_time_time, placeholder: time_value(Time.now), class: 'timepicker' %>
  </div>
  <div class="col-3 columns cd-edit-form">
    <%= f.label :end_time_date, "End Date" %>
    <%= f.text_field :end_time_date, placeholder: date_value(Date.today), class: 'datepicker' %>
  </div>
  <div class="col-3 columns cd-edit-form">
    <%= f.label :end_time_time, "End Time" %>
    <%= f.text_field :end_time_time, placeholder: time_value(Time.now), class: 'timepicker' %>
  </div>
  <div class="col-3 columns cd-edit-form">
    <%= f.check_box :all_day %> All-day
  </div>
  <div class="col-3 columns cd-edit-form">
    <%= f.check_box :repeat %> Repeat
  </div>
  <div class="col-6 columns cd-edit-form">
    <%= f.label :days %>
    <%= f.select :days, %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday], { }, { multiple: true, class: 'select2-multiple-fixed' } %>
  </div>

  <div class="col-12 columns nested-actions pull-right buttons">
    <%= f.hidden_field :_destroy, class: 'remove-field' %>
    <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, '#', class: 'remove_fields' %>
  </div>
</div>
