<div class="col-8 columns no-padding">
    <div class="col-6 columns cd-edit-form" style="margin-top:20px;">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div class="col-12 columns">
        <div class="cd-update-form">
            <%= f.submit %>
        </div>
    </div>
</div>

<div class="col-12 columns">
<% if !@menu.new_record? %>
  <h3>Current Navigation</h3>
  <ul class="sortable" data-update-url="<%= sort_portal_menus_path %>">
    <% @menu.menu_pages.try(:each) do |page| %>
      <%= content_tag_for :li, page do %>
        <%= Devx::Page.find(page.page_id).name %>
      <% end %>
    <% end %>
  </ul>

  <div class="nested-attributes">
    <h3>Add Pages</h3>
    <%= select_tag 'page[id]', options_from_collection_for_select(Devx::Page.all, 'id', 'name') %>
    <%= number_field_tag 'page[position]' %>
  </div>
<% end %>
</div>