<div class="col-8 columns no-padding">
    <div class="col-6 columns cd-edit-form" style="margin-top:20px;">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div class="col-12 columns">
        <div class="cd-update-form">
            <%= f.submit %>
        </div>
    </div>
</div>

<div class="col-12 columns">
<% if !@menu.new_record? %>
  <h3>Current Navigation</h3>
  <ul class="sortable-menu" data-update-url="<%= sort_portal_menus_path %>">
    <% @menu.menu_pages.try(:each) do |menu_page| %>
      <%= content_tag_for :li, menu_page do %>
        <%= menu_page.try(:page).try(:name) %>
        <% if menu_page.try(:page).try(:children).any? %>
          <ul class="sortable-menu-children" data-update-url="<%= sort_portal_menus_path %>">
          <% menu_page.page.children.try(:each) do |child| %>
            <%= content_tag_for :li, child do %>
              <%= child.try(:name) %>
            <% end %>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div class="nested-attributes">
    <h3>Add Pages</h3>
    <%= select_tag 'page[id]', options_for_select(Devx::Page.all.collect{ |x| [x.name, x.id] }) %>
  </div>
<% end %>
</div>