<% if app_settings['stripe'] %>
  <% if @form.fields.where(field_type: 'fee').any? %>
    <div class="medium-12 columns">
      <h5>Total: <%= number_to_currency @form.fields.find_by(field_type: 'fee').options %></h5>
    </div>
  <% end %>
  <div id="cc_fields" class="large-<%= field.field_size %> columns cd-edit-form">

      <%= f.hidden_field :stripe_token, class: 'stripe-token' %>

      <% unless @form.fields.where(field_type: 'fee').any? %>
        <div class="col-6 columns cd-edit-form">
            <%= label_tag :amount %>
            <%= f.number_field :amount, { step: '0.01', placeholder: 'Amount' } %>
        </div>
      <% end %>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :cc_type, 'Card Type' %>
      <%= select_tag :cc_type, options_for_select( ['Visa', 'MasterCard', 'American Express', 'Discover', 'JCB', 'Diners Club'] ), { prompt: 'Select Card Type' } %>
      </div>
      <div class="col-8 columns cd-edit-form">
      <%= label_tag :cc_number, 'Card Number' %>
      <%= text_field_tag :cc_number, '', placeholder: 'Card Number', autocomplete: :off, required: true %>
      </div>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :ch_first_name, 'Cardholder First Name' %>
      <%= text_field_tag :ch_first_name, '', placeholder: 'Cardholder First Name', autocomplete: :off, required: true %>
      </div>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :ch_last_name, 'Cardholder Last Name' %>
      <%= text_field_tag :ch_last_name, '', placeholder: 'Cardholder Last Name', autocomplete: :off, required: true %>
      </div>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :expiry_date, 'Expiration Date' %>
      <%= date_select "", :expiry_date, { discard_day: true, order: [:month, :year], use_month_numbers: false, start_year: Date.today.year, end_year: Date.today.year + 25, prompt:{ month:'Month', year:'Year' } }, { required: true } %>
      </div>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :cvv, 'Security Code' %>
      <%= number_field_tag :cvv, '', placeholder: 'Security Code', autocomplete: :off, required: true %>
      </div>

      <div class="col-8 columns cd-edit-form">
      <%= label_tag :zip_code, 'Zip Code' %>
      <%= number_field_tag :zip_code, '', placeholder: 'Zip Code', autocomplete: :off, required: true %>
      </div>
  </div>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_tag "Stripe.publishableKey = '#{app_settings['stripe_publishable_key']}';" %>
<% elsif app_settings['diamond_mind'] %>
  <% if @form.fields.where(field_type: 'purchase_field').any? %>
    <div class="medium-12 columns">
      <h5 id="purchase-amount">Total: $0.00</h5>
    </div>
    <script type="text/javascript">
      $(document).ready(function()
      {
        var subtotal = 0;

        $(".purchase-field").each(function()
        {
          subtotal += parseFloat($(this).attr("data-price")) * $(this).val();
        });

        $("#purchase-amount").text("Total: $" + subtotal.toFixed(2));

        $(".purchase-field").on("change", function()
        {
          subtotal = 0;
          var o = $(this);

          $(".purchase-field").each(function()
          {
            subtotal += parseFloat($(this).attr("data-price")) * $(this).val();
          });

          $("#purchase-amount").text("Total: $" + subtotal.toFixed(2));
        });
      });
    </script>
  <% elsif @form.fields.where(field_type: 'fee').any? %>
    <div class="medium-12 columns">
      <h5>Total: <%= number_to_currency @form.fields.find_by(field_type: 'fee').options %></h5>
    </div>
  <% else %>
    <div class="medium-12 columns">
      <%= label_tag :amount %>
      <%= text_field_tag :amount, '', placeholder: 'Amount', required: true %>
    </div>
  <% end %>

  <div id="cc_fields" class="large-<%= field.field_size %> columns cd-edit-form">
    <div class="medium-4 columns cd-edit-form">
    <%= label_tag :cc_type, 'Credit Card Type' %>
    <%= select_tag :cc_type, options_for_select(%w[Visa MasterCard AMEX Discover]), { prompt: 'Select Card Type', required: true } %>
    </div>

    <div class="medium-9 columns cd-edit-form">
    <%= label_tag :cc_number, 'Credit Card Number' %>
    <%= text_field_tag :cc_number, '', placeholder: 'Credit Card Number', autocomplete: :off, style: 'width:100%', required: true %>
    </div>

    <div class="medium-5 columns cd-edit-form">
    <%= label_tag :ch_first_name, 'Cardholder First Name' %>
    <%= text_field_tag :ch_first_name, '', placeholder: 'Cardholder First Name', autocomplete: :off, required: true %>
    </div>

    <div class="medium-4 columns cd-edit-form">
    <%= label_tag :ch_last_name, 'Cardholder Last Name' %>
    <%= text_field_tag :ch_last_name, '', placeholder: 'Cardholder Last Name', autocomplete: :off, required: true %>
    </div>

    <div class="medium-5 columns cd-edit-form">
    <%= label_tag :exp_date, 'Expiration Date' %>
    <%= date_select "", :expiry_date, { discard_day: true, order: [:month, :year], use_two_digit_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 25, prompt:{ month:'Month', year:'Year' } }, { required: true } %>
    </div>

    <div class="medium-4 columns cd-edit-form">
    <%= label_tag :zip_code, 'Zip Code' %>
    <%= text_field_tag :zip_code, '', placeholder: 'Zip Code', autocomplete: :off, required: true %>
    </div>

    <div class="medium-4 columns cd-edit-form">
    <%= label_tag :cvv, 'Security Code' %>
    <%= text_field_tag :cvv, '', placeholder: 'Security Code', autocomplete: :off, required: true %>
    </div>
  </div>
<% end %>
