<% provide(:title, "#{@form.name}") %>

<div class="container banner header-img" style="background-image:url(<%= @form.image.try(:url) %>); background-size:cover; background-position:top center; width:100%; min-height:400px;"></div>

<% if flash.any? %>
  <div class="container notify">
    <div class="row">
      <div class="large-12 columns">
          <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<div class="container<%= " #{@form.custom_classes.try(:squish)}" %>">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <div class="page-header"><%= @form.name %></div>
      <div class="form-description"><%= @form.description %></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <%= form_for @form, url: devx.forms_path, method: :post, html: { id: 'form-builder', class: 'form-builder' } do |f| %>
        <%= f.hidden_field :id %>
        <%= f.fields_for :submission_content do |submission| %>
          <% @form.fields.ordered.try(:each) do |field| %>
            <%= render "#{field.field_type}", field: field, f: submission %>
          <% end %>
        <% end %>
        <div class="large-12 columns no-padding">
          <%= f.submit 'Submit' %>
        </div>
    <% end %>
  </div>
</div>
