<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :description %><br>
        <%= f.cktext_area :description %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :moderators %>
        <%= f.select :moderators, Devx::Person.all.faculty, { }, { multiple: true, class: 'select2-multiple' } %>
    </div>
</div>



<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>
