<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :layout_id %><br>
        <div style="margin:4px 0;"><%= f.select :layout_id, Devx::Layout.all.collect{ |x| [ x.name, x.id ] }, { include_blank: true }, {class:'select2-fixed'} %></div>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :parent %><br>
        <div style="margin:4px 0;"><%= f.select :parent, Devx::Page.all.where.not(id: @page.id).collect{ |x| [x.name, x.id] }, { include_blank: true }, {class:'select2-fixed'} %></div>
    </div>
    <div class="col-12 columns cd-edit-form no-padding" style="margin-top:20px;">
        <div class="col-12 columns">
            <%= f.label :content %><br>
            <div style="margin:4px 0;"><%= f.cktext_area :content %></div>
        </div>
    </div>

    <div class="col-12 columns">
        <h3>SEO Settings</h3>
    </div>

    <div class="col-4 columns cd-edit-form">
        <%= f.label :meta_title %>
        <%= f.text_field :meta_title %>
    </div>

    <div class="col-4 columns cd-edit-form">
        <%= f.label :meta_keywords %>
        <%= f.select :meta_keywords, {}, {}, { multiple: true, class: 'select2-multiple' } %>
    </div>

    <div class="col-4 columns cd-edit-form">
        <%= f.label :meta_robots %>
        <%= f.select :meta_robots, {}, {}, { multiple: true, class: 'select2-multiple' } %>
    </div>

    <div class="col-12 columns cd-edit-form">
        <%= f.label :meta_description %>
        <%= f.cktext_area :meta_description %>
    </div>
</div>

<div class="col-4 columns cd-edit-form">
  <% if !@page.new_record? %>
      <%= link_to 'View Page', page_path(@page), target: '_blank' %>
  <% end %>
</div>

<div class="col-2 columns cd-edit-form">
    <%= f.label :active %><br>
</div>

<div class="col-2 columns cd-edit-form">
    <label class="switch">
        <%= f.check_box :active %>
        <div class="slider round"></div>
    </label>
</div>

<div class="col-2 columns cd-edit-form">
    <%= f.label :is_home %><br>
</div>

<div class="col-2 columns cd-edit-form">
    <label class="switch">
        <%= f.check_box :is_home %>
        <div class="slider round"></div>
    </label>
</div>

<div class="col-4 columns cd-edit-form">
    <%= f.label :image, 'Header image' %>
    <%= f.file_field :image %>
</div>

<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>