<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-6 columns cd-edit-form">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :layout_id %>
      <%= f.select :layout_id, options_for_select(Devx::Layout.all.collect{ |x| [x.name, x.id] }, @form.layout_id), { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :submission_recipients %> (separated by commas)
      <%= f.text_field :submission_recipients %>
    </div>
</div>

<div class="col-12 columns no-padding">
  <h3>Form Fields</h3>

  <%= content_tag 'div', class: 'nested-attributes' do %>
    <%= f.fields_for :fields do |l| %>
      <%= render partial: 'form_fields', locals: { f: l } %>
    <% end %>
  <% end %>
  <%= link_to_add_fields 'Add Field', f, :fields, nil, 'form_fields', '' %>
</div>

<div class="col-12 columns no-padding">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>

