<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-6 columns cd-edit-form">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :layout_id %>
      <%= f.select :layout_id, options_for_select(Devx::Layout.all.collect{ |x| [x.name, x.id] }, @form.layout_id), { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :submission_recipients %> (separated by commas)
      <%= f.text_field :submission_recipients %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :success_message %>
      <%= f.text_field :success_message %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="col-6 columns cd-edit-form">
      <%= f.label :custom_classes %>
      <%= f.text_field :custom_classes %>
    </div>
</div>

<div class="col-12 columns no-padding">
  <h3>Form Fields</h3>
  <%= content_tag 'div', class: 'nested-attributes' do %>
    <%= f.fields_for :fields do |l| %>
      <%= render partial: 'form_fields', locals: { f: l } %>
    <% end %>
  <% end %>
  <%= link_to_add_fields 'Add Field', f, :fields, nil, 'form_fields', '' %>
</div>

<div class="col-12 columns no-padding">
  <h3>Confirmation E-mail</h3>
  <div class="col-6 columns cd-edit-form">
    <%= f.label :send_confirmation_email %>
  </div>
  <div class="col-6 columns cd-edit-form">
      <label class="switch">
          <%= f.check_box :send_confirmation_email %>
          <div class="slider round"></div>
      </label>
  </div>
  <div class="col-6 columns cd-edit-form">
    <%= f.label :confirmation_email_from %>
    <%= f.text_field :confirmation_email_from %>
  </div>
  <div class="col-6 columns cd-edit-form">
    <%= f.label :confirmation_email_subject %>
    <%= f.text_field :confirmation_email_subject %>
  </div>
  <div class="col-8 columns cd-edit-form">
    <%= f.label :confirmation_email_text %>
    <%= f.cktext_area :confirmation_email_text %>
  </div>
</div>

<div class="col-12 columns no-padding">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>
