<% provide(:title, @form.name) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
          <%= link_to 'Edit', devx.edit_portal_form_path(@form) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <%= link_to 'Delete', devx.portal_form_path(@form), method: :delete, data: { confirm: "Are you sure you want to delete #{@form.name}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <% if current_user.super_administrator? %>
          <div class="col-12 columns">
            <h3>Form Fields</h3>
            <ul class="sortable-list" data-update-url="<%= devx.sort_portal_forms_path %>">
              <% @form.fields.order(position: :asc).try(:each) do |field| %>
                <%= content_tag_for :li, field do %>
                  <%= field.name %>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-12 columns">
          <h3>Submissions</h3>
          <%= link_to '<i class="fa fa-download"></i> Export submissions'.html_safe, devx.portal_form_path(@form, format: :xlsx) %>
          <table width="100%">
            <thead>
              <th>#</th>
              <% @fields.try(:each) do |field| %>
                <th><%= field %></th>
              <% end %>
              <% if @fields.include?('Amount') && Stripe.api_key.present? %><th>Refund</th><% end %>
            </thead>
            <tbody>
              <% @form.form_submissions.try(:each_with_index) do |submission, submission_index| %>
                <% content = submission.submission_content %>
                <tr>
                  <td><%= submission_index + 1 %></td>
                  <% @fields.try(:each_with_index) do |field, field_index| %>
                    <% if content.key?(field) %>
                      <td><%= if field == 'Amount' then number_to_currency content[field] else content[field] end %></td>
                    <% else %>
                      <td>&nbsp;</td>
                    <% end %>
                  <% end %>
                  <% if Stripe.api_key.present? %><% if @fields.include?('Amount') && submission.refunded == false %><td><%= link_to 'Refund', devx.refund_portal_form_path(@form, form_submission: submission), method: :post, data: { confirm: 'Refund this payment?' } %></td><% else %><td>Refunded</td><% end %><% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>
