<div class="col-12 columns no-padding">

  <div class="col-6 columns cd-edit-form">
    <%= f.label :product_id %>
    <%= f.select :product_id, @products.collect{ |x| [x.name, x.id] }, { include_blank: true }, { class: 'select2-fixed' } %>
  </div>

  <div class="col-2 columns cd-edit-form">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, value: 1 %>
  </div>

  <div class="col-2 columns cd-edit-form">
    <%= label_tag :price %>
    <%= text_field_tag :price, '', { disabled: false } %>
  </div>
  
  <div class="col-2 columns nested-actions pull-right buttons">
    <%= f.hidden_field :_destroy, class: 'remove-field' %>
    <%= link_to '<i class="fa fa-trash"></i> Delete'.html_safe, '#', class: 'remove_fields' %>
  </div>
</div>

<script type="text/javascript">

</script>