<tr>
    <td><%= order.id %></td>
    <td><%= ldate order.created_at %></td>
    <td><%= order.user.try(:full_name) %></td>
    <td>
    <%= link_to 'View', devx.portal_order_path(order) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <%= link_to 'Delete', devx.portal_order_path(order), method: :delete, data: { confirm: "Are you sure you want to delete Order ##{order.id}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
    </td>
</tr>
