<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
            <i class="fa fa-map-signs" aria-hidden="true"></i> <%= link_to 'Create Order', devx.new_portal_order_path %> <i class="fa fa-download"></i> <%= link_to 'Export Orders', devx.portal_orders_path(format: :xlsx) %>
            <div style="float:right;">
                <span style="padding:0 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span style="padding:0 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
            </div>
        </div>
        <div class="col-12 columns">
            <table>
                <thead>
                    <tr>
                        <th><%= sort_link @q, :id %></th>
                        <th><%= sort_link @q, :created_at %></th>
                        <th><%= sort_link @q, :total %></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'order', collection: @orders %>
                </tbody>
            </table>
        </div>
    </div>
</div>
