<tr>
    <td><%= link_to article.title, devx.edit_portal_article_path(article) %></td>
    <td><%= article.tag_list %></td>
    <td><%= article.featured ? 'Yes' : 'No' %><%= " (until #{ldate(article.featured_until)})" if article.featured && article.featured_until %></td>
    <td><%= article.user.try(:full_name) %></td>
    <td><%= article.published_at.try(:strftime, '%m/%d/%Y %I:%M %P') %></td>
    <td>
    <%= link_to 'Edit', devx.edit_portal_article_path(article) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <%= link_to 'Delete', devx.portal_article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete #{article.title}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
    </td>
</tr>
