<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :tag_list, 'Category' %><br>
        <%= f.select :tag_list, @tags, { include_blank: true }, { class: 'select2' } %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :short_description %><br>
        <%= f.text_field :short_description %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :published_at %><br>
        <%= f.text_field :published_at, class: 'datetimepicker' %>
    </div>
</div>

<div class="col-4 columns cd-edit-form">
    <%= f.label :image, 'Header image' %>
    <%= f.file_field :image %>
</div>

<div class="col-12 columns cd-edit-form no-padding" style="margin-top:20px;">
    <div class="col-12 columns">
        <%= f.label :content %><br>
        <div style="margin:4px 0;"><%= f.cktext_area :content %></div>
    </div>
</div>

<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>