<% provide(:title, '' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="col-12 columns" style="padding-bottom:20px;">
            <i class="fa fa-map-signs" aria-hidden="true"></i> <%= link_to 'Create Article', devx.new_portal_article_path %> <i class="fa fa-upload" aria-hidden="true"></i> <%= link_to 'Import Articles', devx.portal_articles_import_path %> <i class="fa fa-download"></i> <%= link_to 'Export Articles', devx.portal_articles_path(format: :xlsx) %>
            <div style="float:right;">
                <span style="padding:0 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span style="padding:0 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
              <div class="cd-edit-form">
              <%= search_form_for @q, url: devx.portal_articles_path do |f| %>
                  <%= f.search_field :title_or_short_description_or_content_or_keywords_name_cont, placeholder: 'Search'%>
                  <%= f.select :tags_name_eq, @tags.collect{ |x| [x.name, x.name] }, { prompt: 'Select category' }, { class: 'select2-fixed' } %>
                  <%= f.submit %>
              <% end %>
              </div>
            </div>
        </div>
        <div class="col-12 columns">
            <table>
                <thead>
                    <tr>
                        <th><%= sort_link @q, :title %></th>
                        <th><%= sort_link @q, :tag_list, 'Category' %></th>
                        <th><%= sort_link @q, :user, 'Author' %></th>
                        <th><%= sort_link @q, :published_at, 'Publish date' %></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'article', collection: @articles %>
                </tbody>
            </table>
        </div>
        <div class="col-12 columns">
            <% if @articles.any? %>
                <%= will_paginate @articles, class: 'apple_pagination' %>
            <% end %>
        </div>
    </div>
</div>
