<% provide(:title, 'Staff Directory') %>
<div class="container banner texture" style="padding-bottom:40px;">
  <div class="row">
    <div class="medium-10 medium-offset-1 large-10 large-offset-1 columns">
      <div class="page-header"><%= yield(:title) %></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="staff-search">
      <%= search_form_for @q, url: devx.directory_path do |f| %>
        <%= f.search_field :first_name_or_last_name_or_email_or_departments_name_cont %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @departments.each do |tag| %>
        <% s = @administrations.tagged_with(tag) %>
        <% if s.count > 0 %>
          <div class="small-12 medium-12 large-12 columns flexbox">
            <h4 style="padding:40px 0px 20px"><%= tag.name.try(:titleize) %></h4>
          </div>
          <% s.each do |staff| %>
            <div class="small-12 medium-6 large-4 columns flex" style="margin:20px 0px">
              <div class="small-4 columns">
                  <% if staff.photo.present? %>
                      <% photo = staff.photo.profile.url %>
                  <% else %>
                      <% photo = image_path('devx/No-Name.jpg') %>
                  <% end %>

                  <%= image_tag(photo, style: 'max-width:100%;max-height:200px') %>
              </div>
              <div class="small-8 columns">
                <h6 style="margin-bottom:0.5rem"><%= staff.try(:full_name) %></h6>
                <p style="margin-bottom:0px;font-size:1.2rem"><%= staff.try(:position) %><br />
                <%= link_to staff.try(:email), "mailto:#{staff.email}" %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
