<% provide(:title, 'STAFF DIRECTORY') %>
<div class="container">
    <div class="row full-width">
        <div class="medium-12 columns banner generic">
            <center>
                <h1 class="page-title"><%= yield(:title) %></h1>
            </center>
        </div>
    </div>
</div>

<div class="container banner texture" style="padding-bottom:40px;">
  <div class="row">
    <div class="medium-10 medium-offset-1 large-10 large-offset-1 columns">
      <div class="page-header"><%= yield(:title) %></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @departments.each do |tag| %>
        <% s = @administrations.tagged_with(tag) %>
        <ul>
          <li class="small-12 medium-12 large-12 columns">
            <div class="medium-12 large-12 small-12 columns">
              <h4><%= tag.name.try(:titleize) %></h4>
            </div>
          </li>
          <div class="small-12 medium-12 large-12 columns">
            <% s.each do |staff| %>
              <div class="small-12 medium-6 large-4 columns" style="margin-bottom:15px;min-height:160px; margin-top:30px;">
                <div class="medium-8 columns">
                  <h6><%= staff.try(:full_name) %></h6>
                  <p><%= staff.try(:position) %></p>
                  <p><%= link_to staff.try(:email), "mailto:#{staff.email}" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</div>
