<tr>
  <td><%= link_to user.email, fullstack.edit_user_path(user) %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td>
    <%= link_to 'Edit', fullstack.edit_user_path(user) %>
    <%= link_to 'Delete', fullstack.user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.email}?" } %>
  </td>
</tr>