<tr>
	<td> <%= link_to classroom.name, devx.portal_classroom_path(classroom) %> </td>
	<td> <%= classroom.classroom_teachers.count %> </td>
	<td> <%= classroom.active %> </td>
	<td>
		<% if can? :read, classroom %><%= link_to '<i class="fa fa-eye"></i> View'.html_safe, devx.portal_classroom_path(classroom) %><% end %>
		<% if can? :edit, classroom %><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, devx.edit_portal_classroom_path(classroom) %><% end %>
		<% if can? :destroy, classroom %><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, devx.portal_classroom_path(classroom), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %><% end %>
	</td>
</tr>
