<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <% if current_user.administrator? %>
        <div class="col-12 columns cd-edit-form">
            <%= f.label :layout_id %>
            <%= f.select :layout_id, Devx::Layout.all.collect{ |x| [x.name, x.id] }, { include_blank: true } %>
        </div>
        <div class="col-12 columns cd-edit-form">
          <h3>Classroom Teachers</h3>
          <%= content_tag 'div', class: 'nested-attributes' do %>
            <%= f.fields_for :classroom_teachers do |l| %>
              <%= render partial: 'classroom_teacher_fields', locals: { f: l } %>
            <% end %>
          <% end %>
          <%= link_to_add_fields 'Link Teacher', f, :classroom_teachers, nil, 'classroom_teacher_fields', '' %>
        </div>
    <% end %>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :welcome_message %>
        <%= f.cktext_area :welcome_message %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :highlight_tab_name %>
      <%= f.text_field :highlight_tab_name %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :schedule_tab_name %>
      <%= f.text_field :schedule_tab_name %>
    </div>
    <div class="col-12 columns cd-edit-form">
      <%= f.label :policies_and_procedures_tab_name %>
      <%= f.text_field :policies_and_procedures_tab_name %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :policies_and_procedures %>
        <%= f.cktext_area :policies_and_procedures %>
    </div>

    <div class="col-12 columns cd-edit-form">
      <h3>Custom Tabs</h3>
      <%= link_to_add_fields 'Add Tab', f, :classroom_custom_tabs, nil, 'classroom_custom_tab_fields', '' %>
      <%= content_tag 'div', class: 'nested-attributes' do %>
        <%= f.fields_for :classroom_custom_tabs do |l| %>
          <%= render partial: 'classroom_custom_tab_fields', locals: { f: l } %>
        <% end %>
      <% end %>
    </div>

    <div class="col-2 columns cd-edit-form">
        <%= f.label :active %><br>
    </div>
    <div class="col-2 columns cd-edit-form">
        <label class="switch">
            <%= f.check_box :active %>
            <div class="slider round"></div>
        </label>
    </div>
</div>
<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>
