<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-12 columns cd-edit-form">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <% if current_user.administrator? %>
        <div class="col-12 columns cd-edit-form">
            <%= f.label :layout %>
            <%= f.select :layout, Devx::Layout.all.collect{ |x| [x.name, x.id] }, { include_blank: true } %>
        </div>
        <div class="col-12 columns cd-edit-form">
            <%= f.label :classroom_teachers %>
            <%= f.select :classroom_teachers, Devx::Person.tagged_with('Faculty', on: :associations).collect{ |x| [x.try(:full_name), x.id] }, { include_blank: true }, { multiple: true } %>
        </div>
    <% end %>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :welcome_message %>
        <%= f.cktext_area :welcome_message %>
    </div>
    <div class="col-12 columns cd-edit-form">
        <%= f.label :policies_and_procedures %>
        <%= f.cktext_area :policies_and_procedures %>
    </div>
    <div class="col-2 columns cd-edit-form">
        <%= f.label :active %><br>
    </div>
    <div class="col-2 columns cd-edit-form">
        <label class="switch">
            <%= f.check_box :active %>
            <div class="slider round"></div>
        </label>
    </div>
</div>
<div class="col-12 columns cd-update-form" style="margin-top:20px;">
    <%= f.submit %>
</div>