<div class="container light-gray" style="padding:20px 0;" id="homepage">
    <div class="row">
        <div class="medium-4 medium-offset-4 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns no-padding">
            <div class="large-12">
                <span><%= image_tag(app_branding.logo.try(:url), class:'logo', style:'max-width:200px;width:100%;') %></span>
            </div>
        </div>
    </div>
</div>

<div class="container red" id="teacher-nav">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 hide-for-medium-down columns no-padding">
            <div class="large-12 columns align-center">
                <ul class="primary-nav">
                    <li><a class="anchors" href="#homepage">Homepage</a></li>
                    <li><a class="anchors" href="#photos">Class Photos</a></li>
                    <li><a class="anchors" href="#highlights">Highlights</a></li>
                    <li><a class="anchors" href="#about-teacher">About the Teacher</a></li>
                    <li><a class="anchors" href="#schedule">Schedule</a></li>
                    <li><a class="anchors" href="#policies">Policies &amp; Procedures</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container padding-container"> 
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns no-padding">
            <div class="large-12 columns">
                <h1 class="page-header" style="margin-bottom:0;"><%= @classroom.name %></h1>
            </div>
            <div class="small-12 medium-6 large-6 xlarge-6 columns margin-columns">
                <%= simple_format @classroom.welcome_message %>
            </div>
            <div class="small-12 medium-6 large-6 xlarge-6 columns">
                <div class="blue margin-columns" style="min-height:300px; width:100%; padding:20px;">
                    <h4 class="header-text-red-center" style="padding:20px;">Announcements</h4>
                    <% if @classroom.class_announcements.any? %>
                      <ul>
                        <% @classroom.class_announcements.order(created_at: :desc).limit(3).try(:each) do |announcement| %>
                          <li><small><%= ldate announcement.created_at %></small><br />
                            <span><%= announcement.content %></span>
                          </li>
                        <% end %>
                      </ul>
                      <!--<a>View all Announcements</a>-->
                    <% end %>
                </div>
                <div class="dark-gray margin-columns" style="min-height:300px; width:100%; padding:20px;">
                    <h4 class="header-text-red-center" style="padding:20px;">Helpful Documents</h4>
                    <% if @classroom.class_documents.any? %>
                      <ul>
                        <% @classroom.class_documents.try(:each) do |document| %>
                          <li><%= link_to document.name, document.filename.try(:url), target: '_blank' %></li>
                        <% end %>
                      </ul>
                    <!--<a>View all Documents</a>-->
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="photos">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns no-padding">
            <div class="large-12 columns">
              <% if @classroom.class_galleries.any? %>
                <ul>
                  <% @classroom.class_galleries.try(:each) do |gallery| %>
                    <% gallery.class_photos.try(:each_with_index) do |photo, index| %>
                      <% if index == 0 %>
                        <%= link_to "<li style=\"display:inline-block; width:150px; text-align:center; height:150px; background-image:url(#{photo.filename.try(:url)}); background-size:cover; padding-top:6%; margin-left:0!important;\"></li>".html_safe, photo.filename.try(:large).try(:url), class: 'fancybox', rel: gallery.name %>
                      <% else %>
                        <%= link_to image_tag(photo.filename.try(:thumbnail).try(:url)), photo.filename.try(:large).try(:url), class: 'fancybox', rel: gallery.name, style: 'display:none' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns">
            <ul class="accordion fw-accordion">
                <li>
                    <div class="accordion-title" id="highlights">
                        Highlights
                    </div>
                    <div class="accordion-content">
                      <% if @classroom.class_highlights.any? %>
                        <% @classroom.class_highlights.limit(1).each do |highlight| %>
                        <div class="medium-4 columns">
                          <%= image_tag(highlight.image.try(:url), style: 'width:100%') %>
                        </div>
                        <div class="medium-8 columns">
                          <small style="float:right">Posted <%= highlight.created_at.try(:strftime, '%m-%d-%Y') %></small>
                          <h4><%= highlight.title %></h4>
                          <%= simple_format highlight.content %>
                        </div>
                        <% end %>
                      <% else %>
                        <span>There are no highlights at this time.</span>
                      <% end %>
                    </div>
                </li>
                <li>
                    <div class="accordion-title" id="about-teacher">
                        About the Teacher
                    </div>
                    <div class="accordion-content">
                      <div style="padding:40px 0px">
                        <% @classroom.classroom_teachers.try(:each) do |teacher| %>
                          <div class="medium-4 columns">
                            <%= image_tag(teacher.person.try(:photo).try(:large).try(:url), style: 'max-width:100%') %>
                          </div>
                          <div class="medium-8 columns">
                            <h3><%= "#{teacher.person.first_name[0,1]}. #{teacher.person.last_name}".squish %></h3>
                            <%= simple_format teacher.person.try(:bio) %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                </li>
                <li>
                    <div class="accordion-title" id="schedule">
                        Schedule
                    </div>
                    <div class="accordion-content">
                      <% if @classroom.class_schedules.any? %>
                        <% @classroom.class_schedules.try(:each) do |schedule| %>
                          <div style="padding:10px 0;">
                              <p style="margin-bottom:0; font-family:''"><span><%= schedule.start_time.try(:strftime, '%m/%d/%y %I:%M%P') %> to <%= schedule.end_time.try(:strftime, '%m/%d/%y %I:%M%P') %> | </span><span><%= schedule.name.try(:upcase) %></span></p>
                              <%= simple_format schedule.description %>
                          </div>
                        <% end %>
                      <% else %>
                        <span>There is nothing scheduled at this time.</span>
                      <% end %>
                    </div>
                </li>
                <li>
                    <div class="accordion-title" id="policies">
                        Policies &amp; Procedures
                    </div>
                    <div class="accordion-content">
                        <%= simple_format @classroom.policies_and_procedures %>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
