<div class="container red" id="teacher-nav">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 hide-for-medium-down columns no-padding">
            <div class="large-12 columns align-center">
                <ul class="primary-nav">
                    <li><a class="anchors" href="#homepage">Homepage</a></li>
                    <% if @classroom.class_galleries.any? %><li><a class="anchors" href="#photos">Class Photos</a></li><% end %>
                    <% if @classroom.class_highlights.any? %><li><a class="anchors" href="#highlights">Highlights</a></li><% end %>
                    <li><a class="anchors" href="#about-teacher">About the Teacher</a></li>
                    <% if @classroom.class_schedules.any? %><li><a class="anchors" href="#schedule">Schedule</a></li><% end %>
                    <% if @classroom.policies_and_procedures.present? %><li><a class="anchors" href="#policies">Policies &amp; Procedures</a></li><% end %>
                    <% if @classroom.classroom_custom_tabs.any? %>
                      <% @classroom.classroom_custom_tabs.try(:each) do |tab| %>
                        <li><a class="anchors" href="#<%= tab.tab_name.downcase.tr(' ', '_') %>"><%= tab.tab_name %></a></li>
                      <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container padding-container">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns no-padding">
            <div class="large-12 columns">
                <h1 class="page-header" style="margin-bottom:0;"><%= @classroom.name %></h1>
            </div>
            <div class="small-12 medium-6 large-6 xlarge-6 columns margin-columns">
                <%= simple_format @classroom.welcome_message %>
            </div>
            <div class="small-12 medium-6 large-6 xlarge-6 columns">
                <div class="blue margin-columns" style="min-height:300px; width:100%; padding:20px;">
                    <h4 class="header-text-white-center">Announcements</h4>
                    <hr class="hr">
                    <% if @classroom.class_announcements.any? %>
                      <ul>
                        <% @classroom.class_announcements.order(created_at: :desc).limit(3).try(:each) do |announcement| %>
                          <li><span><%= announcement.content %></span><br />
                            <span style="font-size:0.8em">Posted <%= announcement.created_at.try(:strftime, '%m/%d/%Y') %></span>
                          </li>
                        <% end %>
                      </ul>
                      <!--<a>View all Announcements</a>-->
                    <% else %>
                      <span>There are currently no announcements.</span>
                    <% end %>
                </div>
                <div class="dark-gray margin-columns" style="min-height:300px; width:100%; padding:20px;">
                  <h4 class="header-text-white-center">Helpful Documents</h4>
                  <hr class="hr">
                    <% if @classroom.class_documents.any? %>
                      <ul>
                        <% @classroom.class_documents.try(:each) do |document| %>
                          <li><%= link_to document.name, document.filename.try(:url), target: '_blank' %></li>
                        <% end %>
                      </ul>
                    <!--<a>View all Documents</a>-->
                  <% else %>
                    <span>There are currently no documents.</span>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% if @classroom.class_galleries.any? %>
  <div class="container" id="photos">
      <div class="row">
          <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns no-padding">
              <div class="large-12 columns">
                <ul>
                  <% @classroom.class_galleries.try(:each) do |gallery| %>
                    <% gallery.class_photos.try(:each_with_index) do |photo, index| %>
                      <% if index == 0 %>
                        <%= link_to "<li style=\"display:inline-block; width:150px; text-align:center; height:150px; background-image:url(#{photo.filename.try(:url)}); background-size:cover; padding-top:6%; margin-left:0!important;\"></li>".html_safe, photo.filename.try(:large).try(:url), class: 'fancybox-gallery', rel: gallery.name %>
                      <% else %>
                        <%= link_to image_tag(photo.filename.try(:thumbnail).try(:url)), photo.filename.try(:large).try(:url), class: 'fancybox-gallery', rel: gallery.name, style: 'display:none' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
          </div>
      </div>
  </div>
<% end %>

<div class="container">
    <div class="row">
        <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-10 xlarge-offset-1 columns">
            <ul class="accordion fw-accordion">
              <% if @classroom.class_highlights.any? %>
                <li>
                    <div class="accordion-title" id="highlights">
                        <%= @classroom.highlight_tab_name %>
                    </div>
                    <div class="accordion-content">
                      <% @classroom.class_highlights.limit(1).each do |highlight| %>
                      <div class="medium-4 columns">
                        <%= image_tag(highlight.image.try(:url), style: 'width:100%') %>
                      </div>
                      <div class="medium-8 columns">
                        <small style="float:right">Posted <%= highlight.created_at.try(:strftime, '%m-%d-%Y') %></small>
                        <h4><%= highlight.title %></h4>
                        <%= simple_format highlight.content %>
                      </div>
                      <% end %>
                    </div>
                </li>
              <% end %>
                <li>
                    <div class="accordion-title" id="about-teacher">
                        About the Teacher(s)
                    </div>
                    <div class="accordion-content">
                      <div style="padding:40px 0px">
                        <% @classroom.classroom_teachers.try(:each) do |teacher| %>
                          <div class="medium-12 columns" style="margin:10px 0;">
                              <div class="medium-4 columns">
                                <%= image_tag(teacher.person.try(:photo).try(:large).try(:url), style: 'max-width:100%') %>
                              </div>
                              <div class="medium-8 columns">
                                <h3><%= "#{teacher.person.first_name} #{teacher.person.last_name}".squish %></h3>
                                <%= simple_format teacher.person.try(:bio) %>
                              </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                </li>
                <% if @classroom.class_schedules.any? %>
                  <li>
                      <div class="accordion-title" id="schedule">
                          <%= @classroom.schedule_tab_name %>
                      </div>
                      <div class="accordion-content">
                        <% @days = %w[Monday Tuesday Wednesday Thursday Friday] %>
                        <% @classroom.classroom_teachers.try(:each) do |teacher| %>
                          <h3><%= "#{teacher.person.try(:full_name)}'s Schedule" %></h3>
                          <table width="100%">
                            <thead>
                              <tr>
                                <% @days.try(:each_with_index) do |day, index| %>
                                  <% if day != 'Sunday' && day != 'Saturday' %>
                                    <td style="width:20%;font-size:1.4rem;text-align:center"><%= day %></td>
                                  <% end %>
                                <% end %>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <% @days.try(:each) do |day| %>
                                  <td>
                                    <ul>
                                      <% @classroom.class_schedules.order(start_time: :asc).try(:each) do |schedule| %>
                                        <% if schedule.classroom_teachers.include?(teacher.person.try(:id).to_s) && schedule.day_of_week.include?(day) %>
                                          <li><%= "<span style=\"font-size:1.2rem\">#{schedule.start_time.strftime('%I:%M%P')} - #{schedule.end_time.strftime('%I:%M%P')}</span><br />#{schedule.name}".html_safe %></li>
                                        <% end %>
                                      <% end %>
                                    </ul>
                                  </td>
                                <% end %>
                              </tr>
                            </tbody>
                          </table>
                        <% end %>
                      </div>
                  </li>
                <% end %>
                <% if @classroom.policies_and_procedures.present? %>
                  <li>
                      <div class="accordion-title" id="policies">
                          <%= @classroom.policies_and_procedures_tab_name %>
                      </div>
                      <div class="accordion-content">
                          <%= simple_format @classroom.policies_and_procedures %>
                      </div>
                  </li>
                <% end %>
                <% @classroom.classroom_custom_tabs.try(:each) do |tab| %>
                  <li>
                      <div class="accordion-title" id="<%= tab.tab_name.downcase.tr(' ', '_') %>">
                          <%= tab.tab_name %>
                      </div>
                      <div class="accordion-content">
                          <%= tab.content.try(:html_safe) %>
                      </div>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
  $("a").each(function()
  {
    if (!$(this).hasClass("anchors"))
      $(this).attr("target", "_blank");
  });

  $("a.anchors").on("click", function()
  {
    var id = $(this).attr("href");
    $(id).parent("li").addClass("active");
    $("html, body").animate({ scrollTop: $(id).offset().top }, "slow");
  });
</script>
