<div class="large-12 columns">
  <ul id="devx_portal_nav">
    <li><%= link_to 'Dashboard', devx.portal_root_path %></li>
    <li><%= link_to 'Articles', devx.portal_articles_path %></li>
    <li><%= link_to 'Calendars', devx.portal_calendars_path %></li>
    <li><%= link_to 'Venues', devx.portal_venues_path %></li>
    <li><%= link_to 'Slideshows', devx.portal_slideshows_path %></li>
    <li><%= link_to 'Pages', devx.portal_pages_path %></li>
    <li><%= link_to 'Menus', devx.portal_menus_path %></li>
    <li><%= link_to 'Layouts', devx.portal_layouts_path %></li>
    <li><%= link_to 'Stylesheets', devx.portal_stylesheets_path %></li>
    <li><%= link_to 'Media', devx.portal_media_path %></li>
    <li><%= link_to 'Registrations', devx.portal_registrations_path %></li>
    <li><%= link_to 'Branding', devx.portal_branding_index_path %></li>
    <li><%= link_to 'Team', devx.portal_members_path %></li>
    <li><%= link_to 'Users', devx.portal_users_path %></li>
  </ul>
</div>