<div class="large-12 columns">
  <ul id="devx_admin_nav">
    <li><%= link_to 'Dashboard', devx.admin_root_path %></li>
    <li><%= link_to 'Articles', devx.admin_articles_path %></li>
    <li><%= link_to 'Events', devx.admin_events_path %></li>
    <li><%= link_to 'Venues', devx.admin_venues_path %></li>
    <li><%= link_to 'Slideshows', devx.admin_slideshows_path %></li>
    <li><%= link_to 'Pages', devx.admin_pages_path %></li>
    <li><%= link_to 'Layouts', devx.admin_layouts_path %></li>
    <li><%= link_to 'Media', devx.admin_media_path %></li>
    <li><%= link_to 'Branding', devx.admin_branding_index_path %></li>
    <li><%= link_to 'Users', devx.admin_users_path %></li>
  </ul>
</div>