<tr>
  <td><%= link_to administration.try(:full_name), devx.edit_portal_administration_path(administration) %></td>
  <td><%= administration.school_id %></td>
  <% if app_settings['balance_tracking'] %><td><%= number_to_currency administration.current_balance %></td><% end %>
  <td><%= administration.active %></td>
  <td>
    <%= link_to 'Edit', devx.edit_portal_administration_path(administration) %>
  </td>
</tr>
