<div class="col-4 columns" style="margin-top:20px;">
    <div class="col-12 columns">
        <% if @administration.photo.present? %>
            <% photo = @administration.photo.profile.url %>
        <% else %>
            <% photo = image_path('devx/No-Name.jpg') %>
        <% end %>

        <%= image_tag(photo, style: 'max-width:100%;max-height:200px') %>
    </div>
    <div class="col-12 columns">
        <%= f.label :photo %>
        <%= f.file_field :photo %> 
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-4 columns cd-edit-form">
        <%= f.label :uuid, 'UUID' %>
        <%= f.text_field :uuid %>
    </div>

    <div class="col-12 columns"><h3>Personal Information</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :prefix %><br>
        <%= f.text_field :prefix %>
    </div>

    <div class="col-6 columns cd-edit-form">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :suffix %><br>
        <%= f.text_field :suffix %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :birthdate %><br>
        <%= f.date_field :birthdate %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :gender %><br>
        <%= f.select :gender, %w[Male Female], { include_blank: true }, { class: 'select2-fixed' } %>
    </div>
    

    <div class="col-12 columns"><h3>Mailing Address</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :address %>
        <%= f.text_field :address %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :city %>
        <%= f.text_field :city %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :state %>
        <%= f.select :state, options_for_select(us_states, @administration.state), { include_blank: true, selected: @administration.state }, class: 'select2-fixed' %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
    </div>


    <div class="col-12 columns"><h3>Contact Information</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :phone %>
        <%= f.phone_field :phone %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :mobile_number %>
        <%= f.phone_field :mobile_number %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :association_list, 'Association' %><br>
        <%= f.select :association_list, Devx::Person.tag_counts_on(:associations).order(name: :asc), { prompt: 'Select association' }, { class: 'select2' } %>
    </div>


    <div class="col-12 columns"><h3>Employment Information</h3></div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :department_list %>
        <%= f.select :department_list, Devx::Person.tag_counts_on(:departments).order(name: :asc), { prompt: 'Select department' }, { multiple: true, class: 'select2' } %>
    </div>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :position %>
        <%= f.text_field :position %>
    </div>


    <div class="col-2 columns cd-edit-form">
        <%= f.label :active %><br>
    </div>

    <div class="col-2 columns cd-edit-form">
        <label class="switch">
            <%= f.check_box :active %>
            <div class="slider round"></div>
        </label>
    </div>



<div class="col-12 columns">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>