<% provide(:title, '' + controller_name.classify) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns" style="padding-bottom:20px;">
        <i class="fa fa-user-plus" aria-hidden="true"></i> <%= link_to 'Add Person', new_portal_administration_path %> <i class="fa fa-upload" aria-hidden="true"></i> <%= link_to 'Import Contact', devx.portal_administration_import_path %> <i class="fa fa-download"></i> <%= link_to 'Export Contact', devx.portal_administration_index_path(format: :xlsx) %>
        <div style="float:right;">
            <span style="padding:0 10px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
            <span style="padding:0 10px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
            <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
              <div class="cd-edit-form">
              <%= search_form_for @q, url: devx.portal_administration_index_path do |f| %>
                  <%= f.search_field :first_name_or_last_name_or_email_or_departments_name_or_position_cont %>
                  <%= f.submit %>
              <% end %>
              </div>
        </div>
    </div>
    <div class="col-12 columns">
      <table>
          <thead>
              <tr>
                  <th><%= sort_link @q, :full_name %></th>
                  <th><%= sort_link @q, :active %></th>
                  <th>&nbsp;</th>
              </tr>
          </thead>
          <tbody>
            <%= render partial: 'administration', collection: @administrations %>
        </tbody>
      </table>
    </div>
      <div class="col-12 columns">
          <% if @administrations.any? %>
              <%= will_paginate @administrations, class: 'apple_pagination' %>
          <% end %>
      </div>
  </div>
</div>