<% provide(:title, '' + @calendar.name) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'Back to Calendars', portal_calendars_path %>
      <h3>Events</h3>
        <div class="col-12 columns" style="padding-bottom:20px;">
          <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <%= link_to 'Create Event', devx.new_portal_calendar_event_path(@calendar) %>  <%= link_to 'Import Events', devx.portal_calendar_import_path %> <i class="fa fa-download"></i>
          <div style="float:right;">
              <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
            <div class="cd-edit-form">
            <%= search_form_for @q, url: devx.portal_calendar_path(@calendar) do |f| %>
                <%= f.label :event_name_cont, 'Event Name' %>
                <%= f.search_field :event_name_cont, placeholder: 'Search' %>
                <%= f.label :event_schedules_start_time_gteq, 'Date range' %>
                <%= f.date_field :event_schedules_start_time_gteq %>
                <%= f.date_field :event_schedules_start_time_lteq %>
                <%= select_tag :event_category, options_for_select(@tags), { prompt: 'Select category', class: 'select2-fixed' } %>
                <%= f.submit %>
            <% end %>
            </div>
          </div>
        </div>
      <table>
        <thead>
          <tr>
              <th><%= 'Name' %></th>
              <th><%= 'Start' %></th>
              <th><%= 'End' %></th>
              <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @schedules.try(:each) do |schedule| %>
            <tr>
              <td><%= schedule.event.name %></td>
              <td><%= ldate schedule.start_time %></td>
              <td><%= ldate schedule.end_time %></td>
              <td>
              <%= link_to 'Edit', devx.edit_portal_calendar_event_path(@calendar, id: schedule.event, page: params[:page]) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <%= link_to 'Delete', devx.portal_calendar_event_path(@calendar, id: schedule.event), method: :delete, data: { confirm: "Are you sure you want to delete #{schedule.event.name}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-12 columns">
        <% if @schedules.any? %>
            <%= will_paginate @schedules, class: 'apple_pagination' %>
        <% end %>
    </div>
</div>
