<% provide(:title, '' + @calendar.name) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <%= link_to 'Back to Calendars', portal_calendars_path %>
      <h3>Events</h3>
        <div class="col-12 columns" style="padding-bottom:20px;">
          <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <%= link_to 'Create Event', devx.new_portal_calendar_event_path(@calendar) %>  <%= link_to 'Import Events', devx.portal_calendar_import_path %> <i class="fa fa-download"></i>
          <div style="float:right;">
              <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
          </div>
        </div>
      <table>
        <thead>
          <tr>
              <th><%= 'Name' %></th>
              <th><%= 'Start' %></th>
              <th><%= 'End' %></th>
              <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          <% if @calendar.calendar_type == 'Standard' %>
            <% @schedules.try(:each) do |schedule| %>
              <tr>
                <td><%= schedule.event.name %></td>
                <td><%= ldate schedule.start_time %></td>
                <td><%= ldate schedule.end_time %></td>
                <td>
                <%= link_to 'Edit', devx.edit_portal_calendar_event_path(@calendar, id: schedule.event) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <%= link_to 'Delete', devx.portal_calendar_event_path(@calendar, id: schedule.event), method: :delete, data: { confirm: "Are you sure you want to delete #{schedule.event.name}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
              </tr>
            <% end %>
          <% elsif @calendar.calendar_type == 'Google Calendar' %>
            <% @google_events.try(:each) do |event| %>
              <tr>
                <td style="padding:10px;border-bottom:1px solid #ccc;"><%= event.title %></td>
                <td style="padding:10px;border-bottom:1px solid #ccc;"><%= google_date event.start_time.try(:to_datetime) %></td>
                <td style="padding:10px;border-bottom:1px solid #ccc;"><%= google_date event.end_time.try(:to_datetime) %></td>
                <td style="padding:10px;border-bottom:1px solid #ccc;">&nbsp;</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-12 columns">
        <% if @schedules.any? %>
            <%= will_paginate @schedules, class: 'apple_pagination' %>
        <% end %>
    </div>
</div>
