<div class="col-8 columns no-padding" style="margin-top:20px">

  <div class="col-6 columns cd-edit-form">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="col-6 columns cd-edit-form">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="col-8 columns cd-edit-form">
    <%= f.label :shippable %><br>
  </div>

  <div class="col-2 columns cd-edit-form">
    <label class="switch">
      <%= f.check_box :shippable %>
      <div class="slider round"></div>
    </label>
  </div>

  <div class="col-8 columns cd-edit-form">
    <%= f.label :active %><br>
  </div>

  <div class="col-2 columns cd-edit-form">
    <label class="switch">
      <%= f.check_box :active %>
      <div class="slider round"></div>
    </label>
  </div>

  <div class="col-12 columns cd-edit-form">
    <%= f.label :description %>
    <%= f.cktext_area :description %>
  </div>

  <div class="col-12 columns cd-edit-form">
    <%= link_to_add_fields 'Add SKUs', f, :product_skus, nil, 'product_skus_fields', '' %>

    <%= content_tag 'div', class: 'nested-attributes' do %>
      <%= f.fields_for :product_skus do |p| %>
        <%= render partial: 'product_skus_fields', locals: { f: p } %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 columns cd-edit-form">
    <%= link_to_add_fields 'Add Attributes', f, :product_attributes, nil, 'product_attributes_fields', '' %>

    <%= content_tag 'div', class: 'nested-attributes' do %>
      <%= f.fields_for :product_attributes do |p| %>
        <%= render partial: 'product_attributes_fields', locals: { f: p } %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 columns">
    <div class="cd-update-form">
      <%= f.submit %>
    </div>
  </div>
</div>