<div class="col-8 columns no-padding" style="margin-top:20px">

  <div class="col-6 columns cd-edit-form">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="col-6 columns cd-edit-form">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="col-12 columns cd-edit-form">
    <%= f.label :description %>
    <%= f.cktext_area :description %>
  </div>

  <% if !@product.new_record? %>
    <div class="col-12 columns cd-edit-form">
      <%= link_to_add_fields 'Add SKUs', f, :product_skus, nil, 'product_skus_fields', '' %>

      <%= content_tag 'div', class: 'nested-attributes' do %>
        <%= f.fields_for :product_skus do |p| %>
          <%= render partial: 'product_skus_fields', locals: { f: p } %>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <div class="col-12 columns">
    <div class="cd-update-form">
      <%= f.submit %>
    </div>
  </div>

</div>
