<%= f.label :name %>
<%= f.text_field :name %>

<% if !@menu.new_record? %>
  <h3>Current Navigation</h3>
  <table width="100%">
    <thead>
      <tr>
        <th>Page</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <% @menu.menu_pages.try(:each) do |page| %>
        <tr>
          <td><%= Devx::Page.find(page.page_id).name %></td>
          <td><%= page.position %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="nested-attributes">
    <h3>Add Pages</h3>
    <%= select_tag 'page[id]', options_from_collection_for_select(Devx::Page.all, 'id', 'name') %>
    <%= number_field_tag 'page[position]' %>
  </div>
<% end %>

<%= f.submit %>