<% provide(:title, '' + @registration.name) %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns">
      <h3>Registration Form</h3>

      <% if @registration.form.present? %>
        <p><%= link_to 'Edit form', edit_portal_registration_form_path(@registration, @registration.form) %></p>
      <% else %>
        <i class="fa fa-form-plus" aria-hidden="true"></i> <%= link_to 'Add form', new_portal_registration_form_path(registration_id: @registration) %>
      <% end %>
      <h3>Registrations</h3>
      <table width="100%">
        <thead>
          <tr style="background-color:#ACCC38;">
            <th style="color:#084269; padding:10px; text-align:left; width:30%;">Child Name</th>
            <th style="color:#084269; padding:10px; text-align:left; width:30%;">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @registration.child_registrations.try(:each) do |child| %>
            <tr>
              <td><%= child.child.full_name %></td>
              <td>
                <%= link_to 'View attendance', attendance_report_portal_registration_path(@registration, child_id: child.id) %>
                <% if @registration.checked_in?(child.child) %>
                  <%= link_to 'Check Out', attendance_portal_registration_path(@registration, child_id: child.id) %>
                <% else %>
                  <%= link_to 'Check In', attendance_portal_registration_path(@registration, child_id: child.id) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <span>Total registered: <%= @registration.child_registrations.count %></span>

      <h3>Add Child</h3>
      <%= form_for @registration, url: devx.enroll_portal_registration_path(@registration), method: :post do |f| %>
        <%= select_tag 'child[id]', options_from_collection_for_select(Devx::Child.all, 'id', 'full_name'), { multiple: false, class: 'select2-fixed' } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>