<tr>
	<td><%= ldate account_transaction.created_at %></td>
	<td><%= account_transaction.transaction_type %></td>
	<td><%= account_transaction.payment_method %></td>
	<td><%= account_transaction.product %></td>
	<td><%= number_to_currency account_transaction.amount %></td>
</tr>