<div class="col-4 columns" style="margin-top:20px;">
    <div class="col-12 columns">
        <% if @user.photo.present? %>
            <% photo = @user.photo.profile.url %>
        <% else %>
            <% photo = image_path('devx/No-Name.jpg') %>
        <% end %>

        <%= image_tag(photo, style: 'max-width:100%;max-height:200px') %>
    </div>
    <div class="col-12 columns">
        <%= f.label :photo %>
        <%= f.file_field :photo %> 
    </div>
</div>

<div class="col-8 columns no-padding" style="margin-top:20px;">
    <% if current_user.administrator? %>
        <div class="col-12 columns cd-edit-form">
            <%= f.label :person_id, 'Linked CRM Record' %><br>
            <%= f.select :person_id, Devx::Person.all.collect{ |x| [x.try(:record_with_school_id), x.id] }, { include_blank: true }, { class: 'select2-fixed' } %>
        </div>
    <% end %>
    <div class="col-6 columns cd-edit-form">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
    </div>
    
    <div class="col-12 columns cd-edit-form">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>
    
    <div class="col-12 columns">
        <% if current_user.administrator? %>
            <%= f.hidden_field :generate_password, value: f.object.new_record? %>
        <% end %>
    </div>

    <% if current_user == @user || current_user.super_administrator? %>
        <div class="col-6 columns cd-edit-form">
            <%= f.label :password %><br>
            <%= f.password_field :password %>
        </div>
    
        <div class="col-6 columns cd-edit-form">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation %>
        </div>
    <% end %>

    <% if current_user != @user && current_user.administrator? %>
        <div class="col-12 columns" style="margin-top:20px;">
            <h3>User Roles</h3>
            <div class="col-12 columns no-padding">
                <%= f.select :role_ids, Devx::Role.all.collect{ |x| [x.name, x.id] }, {  }, { multiple: true, class: 'select2' } %>
            </div>
        </div>
    <% end %>
    <div class="col-12 columns">
        <% if (@user.parent? && @user.linked_accounts.any?) || current_user.administrator? %>
        <h3>Linked Accounts</h3>
          <% if current_user.administrator? %>
              <%= content_tag 'div', class: 'nested-attributes' do %>
                <%= f.fields_for :linked_accounts do |l| %>
                  <%= render partial: 'linked_account_fields', locals: { f: l } %>
                <% end %>
              <% end %>
          <% else %>
            <ul>
              <% @user.linked_accounts.try(:each) do |linked_account| %>
                <li><%= linked_account.person.try(:full_name) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <% if current_user.administrator? %>
          <%= link_to_add_fields 'Link Account', f, :linked_accounts, nil, 'linked_account_fields', '' %>
        <% end %>
    </div>
</div>




<div class="col-12 columns" style="margin-top:20px;">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>
