<div class="col-8 columns no-padding" style="margin-top:20px;">
    <div class="col-6 columns cd-edit-form">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
    </div>
    
    <div class="col-12 columns cd-edit-form">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>
    
    <div class="col-6 columns cd-edit-form">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
    </div>
</div>
<div class="col-4 columns" style="margin-top:20px;">
    <div>
        <%= f.label :photo %>
        <%= f.file_field :photo %> 
    </div>
</div>

<div class="col-8 columns" style="margin-top:20px;">
    <h3>User Roles</h3>
    <div class="col-12 columns no-padding">
        <%= f.select :role_ids, Devx::Role.all.collect{ |x| [x.name, x.id] }, {  }, { multiple: true, class: 'select2' } %>
    </div>
</div> 

<% if @user.parent? || @user.super_administrator? %>
    <div class="col-12 columns" style="margin-top:20px;">
        <h3>Children</h3>
        <table width="100%">
          <thead>
            <tr style="background-color:#ACCC38;">
              <th style="color:#084269; padding:10px; text-align:left; width:50%;">First Name</th>
              <th style="color:#084269; padding:10px; text-align:left; width:50%;">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'child', collection: @user.children %>
          </tbody>
        </table>
    </div>
<% end %>

<% if current_user.administrator? %>
    <div class="col-8 columns no-padding" style="margin-top:20px;">
        <div class="col-12 columns">
            <h3>Add Child</h3>
        </div>
        <%= f.fields_for :children, @user.children.build do |child| %>
          <div class="col-6 columns cd-edit-form"><%= child.label :first_name %><br>
              <%= child.text_field :first_name %></div>
          <div class="col-6 columns cd-edit-form"><%= child.label :last_name %><br>
              <%= child.text_field :last_name %></div>
        <% end %>
    </div>
<% end %>

<div class="col-12 columns" style="margin-top:20px;">
    <div class="cd-update-form">
        <%= f.submit %>
    </div>
</div>

