<div style="margin:40px 0;">
    <div class="cd-edit-forms"><%= f.label :first_name %><br>
    <%= f.text_field :first_name %></div>
    <div class="cd-edit-forms"><%= f.label :last_name %><br>
    <%= f.text_field :last_name %></div>
    <div class="cd-edit-forms"><%= f.label :email %><br>
    <%= f.text_field :email %></div>
    <div><%= f.label :password %></div>
    <div class="cd-edit-forms"><%= f.password_field :password %></div>
    <div><%= f.label :password_confirmation %></div>
    <div class="cd-edit-forms"><%= f.password_field :password_confirmation %></div>
    <div><%= f.label :photo %>
        <%= f.file_field :photo %> </div>
</div>

<div style="margin:40px 0;">
    <h3>User Roles</h3>
    <div><%= f.select :role_ids, Devx::Role.all.collect{ |x| [x.name, x.id] }, { multiple: true }, { class: 'select2' } %></div>
</div> 


<div style="margin:40px 0;">
    <h3>Children</h3>
    <table width="100%">
      <thead>
        <tr style="background-color:#ACCC38;">
          <th style="color:#084269; padding:10px; text-align:left; width:50%;">First Name</th>
          <th style="color:#084269; padding:10px; text-align:left; width:50%;">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'child', collection: @user.children %>
      </tbody>
    </table>
</div>

<div style="margin:40px 0;">
    <h3>Add Child</h3>
    <%= f.fields_for :children, @user.children.build do |child| %>
      <div class="cd-edit-forms"><%= child.label :first_name %><br>
          <%= child.text_field :first_name %></div>
      <div class="cd-edit-forms"><%= child.label :last_name %><br>
          <%= child.text_field :last_name %></div>
    <% end %>
</div>

<div class="add-child"><%= f.submit %></div>