<% if !user.roles.exists?(name: 'Super Administrator') %>
	<tr>
	    <td><%= user.person.try(:first_name) %></td>
	    <td><%= user.person.try(:last_name) %></td>
	    <td><%= link_to user.email, devx.portal_user_path(user) %></td>
	    <td>
			<% if current_user.super_administrator? %><%= link_to 'Impersonate', devx.impersonate_portal_user_path(user) %><% end %> 
	    <%= link_to 'Edit', devx.portal_user_path(user) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	    <%= link_to 'Delete', devx.portal_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.email}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
	    </td>
	</tr>
<% elsif current_user.super_administrator? %>
	<tr>
	    <td><%= user.person.try(:first_name) %></td>
	    <td><%= user.person.try(:last_name) %></td>
	    <td><%= link_to user.email, devx.portal_user_path(user) %></td>
	    <td>
	    <%= link_to 'Edit', devx.portal_user_path(user) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	    <%= link_to 'Delete', devx.portal_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.email}?" } %> <i class="fa fa-trash" aria-hidden="true"></i>
	    </td>
	</tr>
<% end %>
