<% provide(:title, 'Account Balance') %>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="large-12 columns no-print" style="margin-bottom:60px">
        <span style="float:right"><i class="fa fa-credit-card"></i> <%= link_to 'Add funds'.html_safe, '#', id: 'add-funds-btn' %>
    </div>

    <div class="large-12 columns">
        <h3>Current Balance</h3>
        <table>
            <thead>
                <tr>
                    <th>Linked Account</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <% if current_user.person.try(:school_id).present? && !current_user.person.association_list.include?('Parent') %>
                    <tr>
                        <td><%= current_user.person.try(:record_with_school_id) %></td>
                        <td><%= current_user.person.try(:current_balance) %></td>
                    </tr>
                <% end %>
                <% @user.linked_accounts.each do |account| %>
                    <tr>
                        <td><%= account.person.try(:record_with_school_id) %></td>
                        <td><%= account.person.try(:current_balance) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <h3>Transaction History</h3>
        <h6>Under Construction</h6>
        <% if current_user.super_administrator? %>
        <table class="hide-for-medium-down">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Payment Method</th>
                    <th>Product</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: 'account_transaction', collection: @account_transactions.limit(30) %>
            </tbody>
        </table>
        <table class="show-for-medium-down">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Payment Method</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: 'account_transaction', collection: @account_transactions.limit(30) %>
            </tbody>
        </table>
        <% end %>
    </div>


    <div id="add-funds" class="large-12 columns">
        <h2>Add Money to Account</h2>
        <%= form_for @transaction, url: devx.portal_account_balance_path(@person), method: :post do |f| %>
        <div class="large-12 columns no-padding">
            <div class="small-12 medium-6 large-4 columns cd-edit-form">
                <%= f.label :person_id, 'Add funds for' %>
                <%= f.select :person_id, options_from_collection_for_select(@linked_accounts, :first, :last), { include_blank: true }, { class: 'select2-fixed', required: true } %>
            </div>
            <div class="small-12 medium-6 large-4 columns cd-edit-form">
                <%= f.label :amount %>
                <%= f.text_field :amount, { step: '0.01', placeholder: 'Amount', class: 'currency-field', required: true } %>
            </div>
        </div>

        <div class="large-12 columns">
            <h3>Payment Details</h3>
        </div>

        <div class="large-12 columns no-padding">
            <div class="small-12 medium-12 large-6 xlarge-6 columns cd-edit-form">
            <%= label_tag :cc_type, 'Credit Card Type' %>
            <%= select_tag :cc_type, options_for_select( ['Visa', 'MasterCard', 'American Express', 'Discover', 'JCB', 'Diners Club'] ), { prompt: 'Select Card Type', class: 'select2-fixed', required: true } %>
            </div>
        </div>
        <div class="small-12 medium-12 large-12 xlarge-12 columns no-padding">
            <div class="medium-12 large-6 xlarge-6 columns cd-edit-form">
            <%= label_tag :cc_number, 'Credit Card Number' %>
            <%= text_field_tag :cc_number, '', placeholder: 'Credit Card Number', autocomplete: :off, required: true %>
            </div>

            <div class="small-12 medium-12 large-6 xlarge-6 columns cd-edit-form">
            <%= label_tag :ch_name, 'Cardholder Name' %>
            <%= text_field_tag :ch_name, '', placeholder: 'Cardholder Name', autocomplete: :off, required: true %>
            </div>
        </div>
        <div class="small-12 medium-12 large-12 xlarge-8 columns no-padding">
            <div class="small-12 medium-6 large-6 xlarge-4 columns cd-edit-form">
            <%= label_tag :exp_date, 'Expiration Date' %>
            <%= date_select "", :expiry_date, { discard_day: true, order: [:month, :year], use_two_digit_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 25, prompt:{ month:'Month', year:'Year' } }, { class: 'select2-fixed', required: true } %>
            </div>

            <div class="small-12 medium-6 large-6 xlarge-4 columns cd-edit-form">
            <%= label_tag :cvv, 'Security Code' %>
            <%= text_field_tag :cvv, '', placeholder: 'Security Code', autocomplete: :off, required: true %>
            </div>
        </div>



        <div class="large-12 columns">
         <small>*Please allow up to 24 hours for funds to be available*</small>
          <div class="cd-update-form">
              <%= f.submit 'Add Funds' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#add-funds-btn").on("click", function()
    {
        $("#add-funds").toggle();
    });
</script>
