<% provide(:title, 'Deposit Funds') %>

<div class="container">
  <div class="row">
    <div class="col-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
    <div class="col-12 columns" style="margin-bottom:20px">
        <span><strong>Current Balance:</strong> <%= number_to_currency current_user.balance %></span>
    </div>
    <%= form_for @transaction, url: devx.account_deposit_portal_user_path(@user), method: :post do |f| %>
    <div class="col-6 columns cd-edit-form">
        <%= label_tag :amount %>
        <%= f.text_field :amount, { step: '0.01', placeholder: 'Amount', class: 'currency-field' } %>
    </div>

    <div class="col-8 columns cd-edit-form">
    <%= label_tag :cc_type, 'Credit Card Type' %>
    <%= select_tag :cc_type, options_for_select( ['Visa', 'MasterCard', 'American Express', 'Discover', 'JCB', 'Diners Club'] ), { prompt: 'Select Card Type', class: 'select2-fixed' } %>
    </div>
    <div class="col-8 columns cd-edit-form">
    <%= label_tag :cc_number, 'Credit Card Number' %>
    <%= text_field_tag :cc_number, '', placeholder: 'Credit Card Number', autocomplete: :off %>
    </div>

    <div class="col-8 columns cd-edit-form">
    <%= label_tag :ch_name, 'Cardholder Name' %>
    <%= text_field_tag :ch_name, '', placeholder: 'Cardholder Name', autocomplete: :off %>
    </div>

    <div class="col-8 columns cd-edit-form">
    <%= label_tag :exp_date, 'Expiration Date' %>
    <%= date_select "", :expiry_date, { discard_day: true, order: [:month, :year], use_two_digit_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 25, prompt:{ month:'Month', year:'Year' } }, { class: 'select2-fixed' } %>
    </div>

    <div class="col-8 columns cd-edit-form">
    <%= label_tag :cvv, 'Security Code' %>
    <%= text_field_tag :cvv, '', placeholder: 'Security Code', autocomplete: :off %>
    </div>


    <div class="col-12 columns">
      <div class="cd-update-form">
          <%= f.submit 'Add Funds' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
