<% provide(:title, 'Manage ' + controller_name.classify.pluralize) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>
        <div class="large-12 columns" style="padding-bottom:20px;">

            <div class="large-8 medium-6 small-12 columns">
            <i class="fa fa-user-plus" aria-hidden="true"></i> <%= link_to 'Add User', devx.new_portal_user_path %> <i class="fa fa-upload" aria-hidden="true"></i> <%= link_to 'Import Users', devx.portal_users_import_path %> <%= link_to 'Import Linked Users', devx.portal_users_import_linked_path %> <i class="fa fa-download"></i> <%= link_to 'Export Users', devx.portal_users_path(q: params[:q], format: :xlsx) %>
            </div>
            <div class="large-4 medium-6 small-12 columns" style="">
                <span style="padding:0 5px;">Filter by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span style="padding:0 5px;">Arrange by <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
                <div class="cd-edit-form">
                <%= search_form_for @q, url: devx.portal_users_path do |f| %>
                  <%= f.label :person_first_name_or_person_last_name_or_email_cont, 'Name or e-mail' %>
                  <%= f.search_field :person_first_name_or_person_last_name_or_email_cont %>
                  <%= f.label :sign_in_count_eq, 'Sign in count' %>
                  <%= f.search_field :sign_in_count_eq %>
                  <%= f.label :roles_name_eq, 'Role' %>
                  <%= f.select :roles_name_eq, Devx::Role.all.collect{ |x| [x.name, x.name] }, { include_blank: true } %>
                  <%= f.submit %>
                <% end %>
                </div>
            </div>
        </div>
        <div class="col-12 columns">
          <span>Total users: <%= @users.count %></span>
            <table>
                <thead>
                    <tr>
                        <th><%= sort_link @q, :person_first_name %></th>
                        <th><%= sort_link @q, :person_last_name %></th>
                        <th><%= sort_link @q, :email %></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render partial: 'user', collection: @users %>
                </tbody>
            </table>
        </div>
        <div class="col-12 columns">
            <% if @users.any? %>
                <%= will_paginate @users, class: 'apple_pagination' %>
            <% end %>
        </div>
    </div>
</div>
