<div class="container banner">
	<div class="row">

		<div class="large-12 columns">
			<h3 class="ecommerce-page-title"><%= @product.name %></h3>
			<hr class="hr">

			<div class="small-12 small-offset-0 medium-12 medium-offset-0 large-12 large-offset-0 xlarge-10 xlarge-offset-1 columns">
				<div class="small-12 medium-12 large-12 columns">
					<h5><%= @product.name %></h5>
					<p><%= @product.description %></p>

					<p>
						<% @product.product_skus.try(:each) do |sku| %>
    						<i class="fa fa-cart-plus" aria-hidden="true"></i> <%= link_to 'Add to Cart', devx.portal_url(sku, subdomain: 'portal') %>
  						<% end %>

  						<%= '|' %> <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= link_to 'Back to Products', devx.products_path, style:'padding-left: 5px' %>
  					</p>

				</div>
			</div>
		</div>
	</div>
</div>
