<tr>
	<td> <%= class_gallery.name %> </td>
	<td> <%= class_gallery.active %> </td>
	<td> <%= ldate class_gallery.created_at %> </td>
	<td> 
		<%= link_to 'Edit', devx.edit_portal_classroom_class_gallery_path(@classroom, class_gallery) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		<%= link_to 'Delete', devx.portal_classroom_class_gallery_path(@classroom, class_gallery), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %> 
		<i class="fa fa-trash" aria-hidden="true"></i>
	</td>
</tr>