<% provide(:title, 'Photos for ' + @class_gallery.name) %>

<div class="container">
    <div class="row">
        <div class="col-12 columns">
            <h1><%= yield(:title) %></h1>
        </div>

        <div class="col-12 columns" style="padding-bottom:20px;">
            <div style="float:right;">
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i> Filter by</span>
                <span style="padding:0 10px;"><i class="fa fa-caret-down" aria-hidden="true"></i>Arrange by</span>
                <!--<span style="padding:0 10px;">Grid View <i class="fa fa-th" aria-hidden="true"></i></span>-->
              <div class="cd-edit-form">
              <%= search_form_for @q, url: devx.portal_documents_path do |f| %>
                  <%= f.search_field :name_cont %>
                  <%= f.submit %>
              <% end %>
              </div>
            </div>
        </div>

        <% @class_gallery.class_photos.try(:in_groups_of, 6, false) do |group| %>
          <div class="col-12 columns">
              <% group.try(:each) do |photo| %>
                <div class="col-2 columns">
                  <%= image_tag(photo.filename.try(:small).try(:url), style: 'width:100%') %>
                  <%= link_to '<i class="fa fa-trash"></i> Delete photo'.html_safe, devx.portal_classroom_class_gallery_class_photo_path(@classroom, @class_gallery, photo), method: :delete, data: { confirm: 'Delete this photo?' } %>
                </div>
              <% end %>
          </div>
        <% end %>

        <div class="col-12 columns no-padding" style="margin-top:20px;">
          <h3>Add Photos</h3>
          <%= form_tag devx.portal_classroom_class_gallery_class_photos_path(@classroom, @class_gallery), method: :post, id: 'class-gallery-dropzone', class: 'dropzone' do |f| %>
            <div class="fallback">
              <%= file_field_tag :file %>
            </div>
          <% end %>
          </div>
        </div>

    </div>
</div>
