<% provide(:title, 'Calendar') %>

<div class="container banner" style="margin-bottom:40px; padding-bottom:20px;background-color:#e9e9e9">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-10 large-offset-1 columns" style="margin-bottom:20px;">
          <h1 class="page-title calendar-title">CALENDAR</h1>
        </div>
    </div>
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 large-10 large-offset-1 columns">
          <ul>
              <li style="display:inline-block;"><a id="month" href="#" class="calendar hide-for-small-only" style="font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;"><i class="fa fa-calendar" style="font-size:1.8rem;" aria-hidden="true"></i> Month View</a></li>
              <li style="display:inline-block;"><a id="grid" href="#" class="calendar hide-for-small-only" style="font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;"><i class="fa fa-th-large" style="font-size:1.8rem;" aria-hidden="true"></i> Grid View</a></li>
              <li style="display:inline-block;"><a id="list" href="#" class="calendar hide-for-small-only" style="font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;"><i class="fa fa-list-alt" style="font-size:1.8rem;" aria-hidden="true"></i></i> List View</a></li>
              <li style="display:inline-block;"><a href="javascript:window.print()" style="font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;"><i class="fa fa-print" style="font-size:1.8rem;" aria-hidden="true"></i> Print</a></li>
              <li style="display:inline-block;"><%= link_to "<i class=\"fa fa-download\" style=\"font-size:1.8rem;\" aria-hidden=\"true\"></i> Export Upcoming Events".html_safe, devx.calendar_path(format: :ics), style: "font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;" %></li>
              <li style="display:inline-block;">
                <% if user_signed_in? %>
                  <%= link_to "<i class=\"fa fa-plus\" style=\"font-size:1.8rem;\" aria-hidden=\"true\"></i> Subscribe".html_safe, devx.subscribe_calendar_path(@calendar), method: :post, style: 'font-family:lato; text-decoration:none; font-size:1.8rem; margin:5px 10px;' %>
                <% end %>
              </li>
          </ul>
      </div>
      <div class="small-12 medium-10 medium-offset-1 large-10 large-offset-1 columns">
        <%= search_form_for @q do |f| %>
          <% if @calendars.count > 1 %>
            <p style="margin-bottom:8px; font-family:lato; font-weight:600;">View calendar:</p>
            <%= f.select :id_eq, Devx::Calendar.all.collect{ |x| [ x.name, x.id ] }, { include_blank: true }, { class: 'select2-fixed' } %>
          <% end %>

          <% if @tags.any? %>
            <p style="margin-bottom:8px; font-family:lato; font-weight:600;">View category:</p>
            <%= select '', :category, options_from_collection_for_select(@tags, 'name', 'name', params['category']), { include_blank: true }, { class: 'select2' } %>
          <% end %>

          <p style="margin-bottom:8px; font-family:lato; font-weight:600;">Select month:</p>
          <%= date_select '', :month_select, { discard_day: true, order: [:month, :year], use_two_digit_numbers: true, start_year: @years.first.to_i, end_year: @years.last.to_i, prompt:{ month:'Month', year:'Year' } }, { class: 'select2-fixed' } %>

          
          <div style="margin-top:30px"><%= f.submit %></div>
        <% end %>
        <% if params[:start_date] %>
          <%= link_to 'Back to Today', devx.calendars_path, class: 'button primary small' %>
        <% end %>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h3 style="text-align:center"><%= @start_date.strftime('%B %Y') %></h3>
      <div class="calendar-navigation">
        <div class="previous-link">
          <%= link_to "<i class=\"fa fa-arrow-left\"></i> Previous".html_safe, start_date: Time.zone.now - 1.month %>
        </div>
        <div class="next-link">
          <%= link_to "Next <i class=\"fa fa-arrow-right\"></i>".html_safe, start_date: Time.zone.now + 1.month %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" class="month-view">
  <div class="row monthview show">
    <div class="large-12 columns">
    <%= month_calendar events: @schedules do |date, schedules| %>
      <%= date.try(:strftime, '%d') %>
      <% @schedules.try(:each) do |schedule| %>
        <% if schedule.start_time_date == date %>
          <% if (params['category'].present? && schedule.event.tag_list.include?(params['category'])) || params['category'].blank? || params['category'].nil? %>
            <div class="event-listing">
              <%= link_to schedule.event.name, devx.calendar_event_path(@calendar, schedule.event) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:40px;" id="grid-view" class="calendar-view">
    <div class="row gridview hide">
      <% @dates.try(:each) do |date| %>
        <% if @calendar.calendar_type == 'Standard' %>
          <div class="small-12 medium-6 large-4 xlarge-3 columns" style="margin-bottom:20px;">
              <div style="background-color: #fff;border:1px solid #384967;box-shadow: 0px 4px 4px #cccccc;overflow:hidden">
                  <div class="calendar-event datebar">
                      <h6 class="calendar-event month"><%= date.try(:strftime, '%^a') %></h6>
                      <h6 style="display:inline-block; padding:10px; float:right; font-family:lato; margin:0; font-weight:600;"><%= date.try(:strftime, '%^b %d') %></h6>
                  </div>
                  <div style="height:180px;overflow-y:scroll">
                      <ul class="accordion">
                        <% @scheduled_events[date].try(:each) do |schedule| %>
                          <% if (schedule.repeat == false) || (schedule.repeat == true && schedule.days.include?(date.try(:strftime, '%A'))) %>
                            <li style="margin-bottom:.1rem; ">
                              <div class="accordion-title">
                                <%= schedule.event.name %>  
                              </div>
                              <div class="accordion-content">
                                <span><% if schedule.all_day == true %>All day event<% else %>Start Time: <%= ldate schedule.start_time %><br />End Time: <%= ldate schedule.end_time %><% end %></span><br />
                                <% if schedule.event.location.present? %><span>Location: <%= schedule.event.location %></span><br /><% end %>
                                <span><%= schedule.event.venue.try(:full_address) %></span>
                              </div>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                  </div>
              </div>
          </div>
        <% elsif @calendar.calendar_type == 'Google Calendar' %>
          <div class="small-12 medium-6 large-4 xlarge-3 columns" style="margin-bottom:20px;">
              <div style="background-color: #fff;border:1px solid #384967;box-shadow: 0px 4px 4px #cccccc;overflow:hidden">
                  <div class="calendar-event datebar">
                      <h6 class="calendar-event month"><%= date.to_date.try(:strftime, '%^a') %></h6>
                      <h6 style="display:inline-block; padding:10px; float:right; font-family:lato; margin:0; font-weight:600;"><%= date.to_date.try(:strftime, '%^b %d') %></h6>
                  </div>
                  <div style="height:180px;overflow-y:scroll">
                      <ul class="accordion">
                        <% @a.try(:each) do |event| %>
                          <% if event[:date] == date %>
                            <li style="margin-bottom:.1rem; ">
                              <div class="accordion-title">
                                <%= event[:name] %>  
                              </div>
                              <div class="accordion-content">
                                <span><%= google_date event[:start_time] %> - <%= google_date event[:end_time] %></span>
                                <span><%= event[:venue] %></span>
                              </div>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                  </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>


<div class="container" style="margin-bottom:40px;" id="list-view" class="calendar-view">
    <div class="row listview hide">
      <% @dates.try(:each) do |date| %>
        <% if @calendar.calendar_type == 'Standard' %>
          <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-8 xlarge-offset-2 columns" style="margin-bottom:20px;">
              <div style="box-shadow: 0px 4px 4px #cccccc;">
                <div class="calendar-event datebar">
                    <h6 class="calendar-event month"><%= date.to_date.try(:strftime, '%^a') %></h6>
                    <h6 style="display:inline-block; padding:10px; float:right; font-family:lato; margin:0; font-weight:600;"><%= date.to_date.try(:strftime, '%^b %d') %></h6>
                </div>
                <div style="height:180px;border-left:1px solid #384967; border-right:1px solid #384967; border-bottom:1px solid #384967;overflow-y:scroll">
                    <ul class="accordion" style="margin:0;">
                        <% @scheduled_events[date].try(:each) do |schedule| %>
                          <% if (schedule.repeat == false) || (schedule.repeat == true && schedule.days.include?(date.try(:strftime, '%A'))) %>
                            <li style="margin-bottom:.1rem; ">
                              <div class="accordion-title">
                                <%= schedule.event.name %>  
                              </div>
                              <div class="accordion-content">
                                <span><% if schedule.all_day == true %>All day event<% else %>Start Time: <%= ldate schedule.start_time %><br />End Time: <%= ldate schedule.end_time %><% end %></span><br />
                                <% if schedule.event.location.present? %><span>Location: <%= schedule.event.location %></span><br /><% end %>
                                <span><%= schedule.event.venue.try(:full_address) %></span>
                              </div>
                            </li>
                          <% end %>
                        <% end %>
                    </ul>
                  </div>
              </div>
          </div>
        <% elsif @calendar.calendar_type == 'Google Calendar' %>
          <div class="small-12 small-offset-0 medium-12 medium-offset-0 large-10 large-offset-1 xlarge-8 xlarge-offset-2 columns" style="margin-bottom:20px;">
              <div style="box-shadow: 0px 4px 4px #cccccc;">
                <div class="calendar-event datebar">
                    <h6 class="calendar-event month"><%= date.to_date.try(:strftime, '%^a') %></h6>
                    <h6 style="display:inline-block; padding:10px; float:right; font-family:lato; margin:0; font-weight:600;"><%= date.to_date.try(:strftime, '%^b %d') %></h6>
                </div>
                <div style="height:180px;border-left:1px solid #384967; border-right:1px solid #384967; border-bottom:1px solid #384967;overflow-y:scroll">
                    <ul class="accordion" style="margin:0;">
                      <% @a.try(:each) do |event| %>
                        <% if event[:date] == date %>
                          <li style="margin-bottom:.1rem; ">
                            <div class="accordion-title">
                              <%= event[:name] %>  
                            </div>
                            <div class="accordion-content">
                              <span><%= google_date event[:start_time] %> - <%= google_date event[:end_time] %></span>
                              <span><%= event[:venue] %></span>
                            </div>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>